[2019-12-13 18:00] jaeddy opened #1 "Configure dccvalidator for CSBC/PS-ON vocabulary"
The goal is to use [**dccvalidator**](https://github.com/Sage-Bionetworks/dccvalidator) as part of some sort of automated/scheduled process to validate and identify errors in the CSBC/PS-ON metadata, according to specified schemas and vocabularies.

The CSBC/PS-ON controlled vocabulary is currently encoded in this [**Google Sheet**](https://docs.google.com/spreadsheets/d/1_Ho4tjgdxSHo19qFhlLJhZAyQ

[2019-12-13 19:31] jaeddy commented on #1
@milen-sage does this sound like a reasonable approach? Let me know if there's anything you think would be worth doing differently.

[2019-12-13 21:01] milen-sage commented on #1
Yes, this sounds great!

pygsheets is a package for python that could be useful for interfacing with google sheets as well.

[2019-12-13 22:44] jaeddy opened #2 "Create mocks with CSBC/PS-ON-specific examples for proposed new viz framework"
Ljubo shared his vision for integrating data summary visualizations, faceted search, and tabular or card-based views through more flexible and configurable features. To help prioritize features and requirements, we'll mock up some examples for specific cases in the CSBC/PS-ON portal — in particular for the various 'explore' pages, the files page, and the home page.

[2019-12-16 04:25] jaeddy opened #3 "Create minimal, normalized tables for projects, projects, datasets, tools"
My goal is to establish versions of tables/views for each of these key entity types that include only the directly applicable annotation keys and values. These tables would likely be joined (denormalized) in some way before being used by the portal front end application. However, if stored and managed as more canonical tables linked by appropriate IDs/keys, they could be independently curated and

[2019-12-16 04:37] jaeddy opened #4 "Document overarching data model for entity metadata (as presented in portal)"
Ideally, this model would define an orthogonal (or at least, minimally redundant) set of properties (annotation keys) across entity types. Relations between keys across entities are to be indicative of potential joins for data transformation prior to serving data in the portal — as well as visualizations to highlight connections and activity among consortia institutions.

The schema for each entit

[2019-12-16 05:21] jaeddy opened #5 "Update Shiny dashboard to summarize data QC status"
The portal dashboard (currently encoded in the [**syndccutils**](https://github.com/Sage-Bionetworks/syndccutils) repo) currently presents summaries of content contributed by centers to the knowledge portal in Synapse. However, it's not currently easy to glean which annotations are invalid according to the CSBC/PS-ON controlled vocabulary, or which links between entities are incorrect/inconsistent

[2019-12-16 05:31] jaeddy opened #6 "Prototype resource connectivity viz for portal homepage"
Think about which connection points should be highlighted to illustrate activity across consortia projects — e.g.:

+ centers <-> themes <-> assays
+ centers <-> disease/cancer types <-> assays
+ themes <-> disease/cancer types <-> assays

Rough example (Sankey plot):
![image](https://user-images.githubusercontent.com/5033229/70881533-bec44f00-1f81-11ea-8a09-4b4fc423ba61.png)

[2019-12-16 05:46] jaeddy opened #7 "Develop build logic for portal tables from normalized tables"
Once data models have been defined (via #4) and implemented (via #3), we should be able to configure some automated processes — e.g., via TravisCI — to join/denormalize tables on a routine, scheduled basis.

[2019-12-16 06:16] jaeddy opened #8 "Consolidate any code related to NCBI/PubMed crawling and text mining"
I believe @Tumpsh and @bswhite have been working on some scripts/code to annotate CSBC/PS-ON publications based on some combination of text mining, API requests, etc. We should make sure these are all captured and version-controlled in GitHub (either in this repo or another).

[2019-12-16 06:33] jaeddy opened #9 "Standardize aggregation/summary code for non-file entities"
Several of us have code (mostly in R) for summarizing annotation values at the level of center, study, dataset, etc. based on associated files. We should make sure this code is all deposited in a central location (this repo) and that common logic/transformations are standardized into a core set of methods and scripts.

[2019-12-16 22:50] bswhite commented on #8
@vpchung and @milen-sage can you tell us where the pubmed crawler is?

[2019-12-16 22:51] bswhite opened #10 "add parsing of dbGaP and SRA to pubmed crawler"
@vpchung would you please add functionality to the pubmed crawler that will parse out links to dbGaP studies and SRA studies (not individual samples) much as we do for GEO datasets?

Here is how I would do this manually:
SRA, dbGaP, and GEO links should be provided under Related information section on the right side of PubMed site (under subheadings “SRA”, “dbGaP”, and “GEO DataSets”, respectively

[2019-12-16 23:15] vpchung commented on #8
I used [this command](https://github.com/Sage-Bionetworks/syndccutils/blob/pubmed/python/syndccutils/__main__.py) to find and annotate the publications of a given grant number.

I am currently refactoring it and adding some features to it, e.g. adding a check that we were able to retrieve publications for each queried grant.

[2019-12-17 23:03] jaeddy commented on #8
Thanks, @vpchung! Let me know when you finish making changes to the script. I'll probably migrate the code to this repo for the near term — it was always a bit of an outlier with the **syndccutils** R package anyway.

[2019-12-18 18:20] vpchung commented on #8
@jaeddy would it be easier if I refactor the code into this repo?

[2019-12-18 22:23] jaeddy commented on #8
@vpchung — sure! That works for me. :)

[2019-12-18 22:24] jaeddy commented on #2
Initial pass at this (with some added emphasis on home page features and content) is done and can be viewed [here](https://docs.google.com/presentation/d/1rKVk7Pwxi0gs-mGKB38JYXwr2Cy_AYr9l3jWjKbVMc4/edit?usp=sharing).

[2019-12-18 22:24] #2 closed, assigned to jaeddy

[2019-12-19 01:44] jaeddy opened #11 "Check out PubTator Commons for augmenting crawler features"
@bswhite, @Tumpsh, @vpchung — I saw "[PubTator](https://www.ncbi.nlm.nih.gov/CBBresearch/Lu/Demo/PubTator/)" presented at a conference last year, but it seemed a bit... janky. However, there's apparently a newer version called [**PubTator Central**](https://www.ncbi.nlm.nih.gov/research/pubtator/) that looks more polished and fully featured. In addition to providing a REST API, the tool also now p

[2019-12-19 01:45] jaeddy commented on #8
@Tumpsh — looping you in on this thread as well.

[2019-12-19 07:53] vpchung commented on #11
I like this!!  It's so fast too.

What sort of features were you thinking?

[2019-12-19 17:02] jaeddy commented on #11
Good question.. I need to take a closer look at what the current PubMed crawler code is doing (and how the results are getting stored). At first glance, it seems potentially useful to grab and cross-reference "disease" annotations from PubTator — especially in cases where it's not obvious from the abstract alone. Capturing "gene" references might also be interesting, though we don't currently have

[2020-02-20 03:41] jaeddy opened #13 "Deprecate old/unused tables"
We should clean up some of the [**Tables and Views**](https://www.synapse.org/#!Synapse:syn7080714/tables/) in Synapse — mostly for our own sanity. @bswhite, @milen-sage, @vpchung can you take a look and confirm whether these are safe to remove?

+ **`CSBC and PSON Project Information Integration`** ([syn11968325](https://www.synapse.org/#!Synapse:syn11968325/tables/)): pretty sure this hasn't bee

[2020-02-20 03:53] vpchung commented on #13
I'm not sure about the others, but `Publications staging` should be safe to remove (but we should confirm with @bswhite and @milen-sage just in case). It was originally used to house all the newly scraped publications before merging them into the `Publications` table.

But I've since changed the PubMed crawler to output to a CSV file instead.

[2020-02-20 17:44] milen-sage commented on #13
All are safe to remove from my point of view, though I see @bswhite has updated study table in Jan this year.

The last time I used 'CSBC and PSON Studies and Experiments' (https://www.synapse.org/#!Synapse:syn10915872/tables/) Sara wanted me to add scRNA-seq datasets from studies across CSBC and PSON. But I think all datasets are now reflected elsewhere.

[2020-02-20 19:06] jaeddy commented on #13
Instead of deleting, I moved tables and views to a separate project: [**CSBC PS-ON Archive**](https://www.synapse.org/#!Synapse:syn11968325/tables/).

[2020-02-20 19:06] #13 closed, assigned to nobody

[2020-02-22 20:05] jaeddy commented on #6
Design team is taking the lead on this. Closing for now.

[2020-02-22 20:05] #6 closed, assigned to nobody

[2020-02-22 22:10] jaeddy opened #15 "Create a 'people' table for CSBC/PS-ON"
See [**example**](https://www.synapse.org/#!Synapse:syn13897207/tables/) from AMP-AD.

Not entirely sure how to approach this... Maybe looping over teams and users in the [**Project View**](https://www.synapse.org/#!Synapse:syn10142562/tables/)? Probably nowhere near comprehensive, but might be a reasonable start.

[2020-04-16 20:59] jaeddy opened #17 "Support manual curation workflow for portal tables"
In #16, I added two R Notebooks for managing CSBC/PS-ON data:

1. [**`portal_db.Rmd`**](https://github.com/Sage-Bionetworks/csbc-pson-dcc/blob/master/nbs/portal_db.Rmd): which is used to deconstruct tables in the [CSBC/PS-ON Knowledge Portal Synapse project](https://www.synapse.org/csbcpson) into standardized and normalized tables for what I've dubbed the [CSBC/PS-ON Portal DB](https://www.synapse

[2020-04-16 21:15] andrewelamb commented on #17
@jaeddy The links to the two markdown documents aren't working for me.

[2020-04-16 21:22] jaeddy commented on #17
Whoops. I guess relative paths don't work. Should be fixed now.

On Thu, Apr 16, 2020 at 2:16 PM andrewelamb <notifications@github.com>
wrote:

--
[image: photo]
*James Eddy, PhD*
Director of Informatics & Biocomputing
Computational Oncology Group
*Sage Bionetworks <http://sagebionetworks.org/>* | 206.928.8241

[2020-04-16 21:49] andrewelamb commented on #17
@jaeddy It looks I don't have access to the merged tables

[2020-04-16 22:08] jaeddy commented on #17
@bswhite can you add Andrew to the [CSBC PSON Admin team](https://www.synapse.org/#!Team:3346139)?

[2020-04-16 22:28] bswhite commented on #17
Done. @andrewelamb let me know if you still can't access.

[2020-04-21 21:00] jaeddy opened #19 "Enable portal demo "happy paths""
### **Live part I** (James)
- [x] Script: homepage overview and summary viz demo
  - [x] Open **Home** page (talk trough overall design)
  - [x] Describe **Overview** module (talk through resource types)
  - [x] Click **Explore grants** link to demo entrypoint; return to homepage
  - [x] Describe **...Research Themes...** viz (talk through themes and resource counts)
  - [x] Click datasets icon fo

[2020-04-21 23:29] jaeddy opened #20 "Ensure all table schema docs (in Confluence) are correct and up-to-date"
- [ ] [Grants](https://sagebionetworks.jira.com/wiki/spaces/PS/pages/823361798/CSBC+PSON+Grant+Schema)
- [ ] [Projects](https://sagebionetworks.jira.com/wiki/spaces/PS/pages/959447139/CSBC+PSON+Project+Schema)
- [ ] [Datasets](https://sagebionetworks.jira.com/wiki/spaces/PS/pages/823263736/CSBC+PSON+Dataset+Schema)
- [ ] [Publications](https://sagebionetworks.jira.com/wiki/spaces/PS/pages/82316528

[2020-04-22 04:59] jaeddy opened #21 "Dataset cards TODO"
@bswhite, @vpchung - I'm attempting to capture and track issues that need to be cleaned up with datasets annotations and cards. Let me know if there's anything I missed, or if you have thoughts on any of the specific tasks.

![image](https://user-images.githubusercontent.com/5033229/79941641-9bbb1780-8419-11ea-9d88-ec40fbb2ca8d.png)

- [x] Grab dataset "title" from GEO to use for `datasetName` (fo

[2020-04-22 05:28] jaeddy opened #22 "Publication cards TODO"
@bswhite, @vpchung - I'm attempting to capture and track issues that need to be cleaned up with publications annotations and cards. Let me know if there's anything I missed, or if you have thoughts on any of the specific tasks.

![image](https://user-images.githubusercontent.com/5033229/79943408-a8416f00-841d-11ea-931f-2b4dad147f30.png)

- [x] Finalize **DATASET** secondary label link destination

[2020-04-22 05:42] jaeddy opened #23 "Tool cards TODO"
@bswhite, @vpchung - I'm attempting to capture and track issues that need to be cleaned up with tools annotations and cards. Let me know if there's anything I missed, or if you have thoughts on any of the specific tasks.

![image](https://user-images.githubusercontent.com/5033229/79944163-b09aa980-841f-11ea-9689-afd320ce43bd.png)

- [x] Add secondary label (**PUBLICATION**) for `publication` colum

[2020-04-22 06:04] jaeddy commented on #7
Initial version implemented via `portal_etl.Rmd` notebook in #16.

[2020-04-22 06:04] #7 closed, assigned to jaeddy

[2020-04-22 06:06] #8 closed, assigned to nobody

[2020-04-22 06:45] bswhite commented on #22
In order of your above tasks:
1. I like the dataset link going to a details page. This lets the user see and download the files. And maybe eventually will provide additional information. Bringing them to a dataset card probably won't provide that much more information than is on the pub card.
2. I have a slight preference for datasets (plural) over dataset; the former seems more general.
3. Note t

[2020-04-22 07:19] jaeddy commented on #22
Thanks, @bswhite! I agree with pretty much all of your points. We're obviously a bit limited in terms of "DetailsPage" links (for the next couple days), but this is probably the direction in which we want to go.

Yes yes yes. 100% agree.

I think for the portal, we can generally err on the side of _not_ displaying any missing information (whether it's not applicable or unknown). We should definite

[2020-04-22 07:36] vpchung commented on #22
Sorry @jaeddy, found a couple more bugs that will need fixing!

As I was reviewing the grants, I also checked to see whether the publication cards would link back to the **Grant Details** page. Similar to the dataset links, there is a leading space in the subsequent grant links when there are more than one listed.

Some grant names have commas in them, e.g. `Systems approaches to understanding the

[2020-04-22 07:39] jaeddy commented on #22
Thanks, @vpchung! No need to apologize. Reporting bugs and things that need fixing is exactly the point of this issue!

I'll update the list to include these items.

[2020-04-22 17:23] andrewelamb opened #24 "Manually added data in merged grants table inconsistent data added via ETL"
Institutions:

[1] "MIT, The Hebrew University of Jerusalem"
[2] "UNC Chapel Hill"
[3] "Pacific Northwest National Laboratory"
[4] "University of Virginia, University of Pennsylvania, University of Delaware"
[5] "City of Hope"
[6] "University of Colorado Denver"
[7] "Columbia University"

- These should be separated by | not comma, as comma is sued in some institution names
- These should also cor

[2020-04-22 17:30] andrewelamb opened #25 "id columns that could be added to the various merged tables"
The merged tables need id columns of entities to help with the reverse ETL process.

- [x] Grants:
consortium, institution, ~~person(investigator)~~, theme

- [x] Projects:
project, grant, theme, consortium

- [x] Datasets:
consortium, grant

- [x] Publications:
grant, theme, consortium

- [x] Tools:
theme, consortium

[2020-04-22 18:46] andrewelamb opened #26 "Rows in merged project table don't match any project/project description rows"
The merged project table doesn't have project ids so to match them the following code is needed:
[code]

This results in 69 rows

[2020-04-22 19:17] jaeddy commented on #26
Thanks, Andrew. I have a break in meetings and will work on this now.

[2020-04-22 19:58] jaeddy commented on #26
Thanks for the demo code. I like the idea of using `description` to add uniqueness to the join — I ended up switching to `grantName`, which resulted in the correct (129) number of matches. This also ticks one of the boxes in #25. 🙂

Here's the code, if you're curious (I reused some pieces from `portal_etl.Rmd`, mostly because it was more familiar and easier to troubleshoot):

[code]

[2020-04-22 19:58] #26 closed, assigned to jaeddy

[2020-04-23 04:34] vpchung commented on #10
Sorry, late update!

This request has been completed by #12.

[2020-04-23 04:34] #10 closed, assigned to vpchung

[2020-04-23 04:42] vpchung commented on #1
Sorry, late update!

I was able to generate two template files (template_datasets.xlsx and template_publications.xlsx), as well as reduce the aforementioned Google sheet into a single TSV file ~~, which are all currently living in my own Synapse project.  Would it be okay if they live in the [CSBC-PSON project](https://www.synapse.org/#!Synapse:syn21498902/wiki/600349) instead?~~
**EDIT: the templ

[2020-04-28 21:52] jaeddy opened #27 "Fix NAs / unannotated values"
Replace all `"NA"` strings with `""` so they don't show up in the portal. Figure out what to do about `"Not Applicable"` (and `"Unspecified"`, `"Unannotated"`?) values. Make sure that non-string empties (e.g., integer for `publicationYear`) are also handled correctly. Figure out how to get Synapse to recognize "Not set" for list type columns.

[2020-04-28 22:42] jaeddy opened #28 "Use NCBI APIs/`rentrez`/`geoparse` to programmatically retrieve dataset annotations"
I haven't looked into the functionality of `geoparse`, but I was able to get this working with `rentrez` last week:

[code]

which results in the following:

|element       |value

[2020-04-28 22:59] bswhite commented on #27
@jaeddy do you know where "Not set" comes from? e.g. ,I'm surprised to see publications with assay "Not set." "Not Applicable" makes sense, but Julie or I should have filled in any blanks/unset values. I can look into this further if you didn't introduce "Not set"

[2020-04-28 23:09] jaeddy commented on #27
"Not set" is automatically displayed by Synapse (the web client) for empty facet values.

As for missing assays on publications, that sounds more like an error that I might have introduced... I can take a closer look.

[2020-04-29 00:14] bswhite opened #29 "extracting GEO information (including links to BioSample)"
The get-geo-annotations.R script here:
https://github.com/Sage-Bionetworks/syndccutils/blob/master/R/scripts/get-geo-annotations.R

extracts links on a per-sample/per-file basis to BioSample. e.g., the following is returned by that script for GSE109089

geo_accession	relation
GSM2931519	BioSample: https://www.ncbi.nlm.nih.gov/biosample/SAMN08354877;SRA: https://www.ncbi.nlm.nih.gov/sra?term=SRX355

[2020-04-29 01:15] jaeddy commented on #29
Thanks, @bswhite! I'll take a closer look.

And yes, I recognize that all the scripts I keep asking about apparently live in the repo for the package I created...

[2020-04-29 03:15] jaeddy opened #30 "Missing 'assay' annotations in merged publications table"
There are currently 681 publications missing any annotation for 'assay' in the [merged portal table](https://www.synapse.org/#!Synapse:syn21868591/tables/query/eyJzcWwiOiJTRUxFQ1QgKiBGUk9NIHN5bjIxODY4NTkxIiwgInNlbGVjdGVkRmFjZXRzIjpbeyJjb25jcmV0ZVR5cGUiOiJvcmcuc2FnZWJpb25ldHdvcmtzLnJlcG8ubW9kZWwudGFibGUuRmFjZXRDb2x1bW5WYWx1ZXNSZXF1ZXN0IiwgImNvbHVtbk5hbWUiOiJhc3NheSIsICJmYWNldFZhbHVlcyI6WyJvcmcuc2Fn

[2020-04-29 03:46] bswhite commented on #29
As far as I can tell, sex is embedded in the characteristics GEO field -- though I don't see that this is required and the means of doing so doesn't appear to be standardized. That said, from a few examples, it seems to follow the form
sex: m
sex: Female
gender: Male
gender: f
i.e., can use either "sex: " or "gender: ", use "m"/"f" or "male"/"female", and be capitalized or not.

Table 1 of this pu

[2020-04-29 04:01] jaeddy commented on #3
Splitting "files" normalization/cleaning into a separate issue.

[2020-04-29 04:01] #3 closed, assigned to jaeddy

[2020-04-29 04:04] jaeddy opened #31 "Create minimal, normalized table for datafiles"
My goal is to establish versions of tables/views for each of these key entity types that include only the directly applicable annotation keys and values. These tables would likely be joined (denormalized) in some way before being used by the portal front end application. However, if stored and managed as more canonical tables linked by appropriate IDs/keys, they could be independently curated and

[2020-04-29 16:02] andrewelamb opened #32 "Discrepencies between portalETL results and merged table for projects"
These projects don't have grants:

# A tibble: 7 x 2
  projectId   projectName
  <chr>       <chr>
1 syn21917484 Identification of personalized adaptive response mechanisms in breast cancer by information theory …
2 syn21917485 Predictive Modeling of the EGFR-MAPK pathway for Triple Negative Breast Cancer Patients
3 syn21917486 Reverse Sensitivity Analysis for Identifying Predictive Proteomics Sig

[2020-04-29 16:13] andrewelamb opened #33 "Discrepencies between denormalized and merged grants tables"
These grants are in the normalized table, but not in the merged table:

# A tibble: 5 x 2
  id          name
  <chr>       <chr>
1 syn9774959  From Mechanism to Population - Modeling HPV-related Oropharyngeal Carcinogenesis
2 syn9775665  CSBC U01 Project Boston University
3 syn9775704  Intratumor heterogeneity underlying treatment resistance in HER2+ breast tumors
4 syn17023185 ISB Heath Lab
5 syn

[2020-04-29 18:46] bswhite commented on #33
1. syn9774959 is grant CA182915; PI: Meza. The NCI asked us to remove this grant. It was from a different program (BTG). None of its pubs, datasets, etc. should show up in the portal.

2. syn9775665 CSBC U01 Project Boston University is grant CA182898. It has been renamed:
Uncoupling obesity from breast cancer in African American women
and should be kept. We sometimes have temporary names like thi

[2020-04-29 18:53] bswhite opened #34 "Use grantNumber as key for grants not grantName"
Grant Names should not be used as keys. They are unwieldy, but they also sometimes change. Probably they shouldn't -- I suspect we are just sometimes creating temporary names for a grant before we know it's official name. For example:

syn9775665 CSBC U01 Project Boston University is grant CA182898. It has been renamed:
Uncoupling obesity from breast cancer in African American women. This renaming

[2020-04-29 19:26] bswhite commented on #32
These are all new U01 grants. There was some inconsistency (e.g., there might have been projects defined but not their grants) that I resolved immediately before the site visit by directly editing the merged tables.

Below I describe the links between the above projects and their grants. All of the associated metadata should be in the snapshot of the grants table I took before the site visit (syn2

[2020-04-29 20:40] bswhite opened #35 "Represent different representations (e.g., GEO, SRA, dbGaP) of the same data as a single dataset with BioProject identifier"
We decided to have a single dataset that includes different representations of a file/sample across GEO, SRA, dbgap, synapse, etc.

We currently have a separate dataset portal object/card for a GEO GSE and an SRA SRP that have the same title / dataset name and refer to the same underlying raw data.
When GSE and SRA datasets are paired, a dataset is getting created for both:
SELECT * FROM syn218979

[2020-04-30 16:52] andrewelamb opened #36 "New descriptions in merged datasets table above 1000 chars."
I've increased the [description column](https://www.synapse.org/#!Synapse:syn21895659/tables/) to 1000 chars, but some new descriptions are way over that limit in the merged datasets table:

[code]

There are 78 descriptions that have this issue

[2020-04-30 16:57] #36 closed, assigned to nobody

[2020-04-30 16:58] bswhite commented on #36
Please use LargeText as the type of this field. I'm assuming this must map to the 'abstract' column in the Portals - Grants Merged table here (syn21918972).

You will have similar issues in the projects and datasets table. Please see my schema column types for those tables as well.

[2020-05-01 02:56] jaeddy commented on #25
@andrewelamb should be done (finally). Let me know if you think I missed any!

[2020-05-01 02:56] #25 closed, assigned to jaeddy

[2020-05-01 06:05] jaeddy commented on #24
@andrewelamb I think this should be fixed in the merged grants table. Please take a look and let me know if that's not the case.

[2020-05-02 03:09] #24 closed, assigned to jaeddy

[2020-05-03 20:45] bswhite commented on #28
"summary" is our `description`

Using "gdstype" as `assay` would at least allow us to fill in that annotation. But it's really too generic to be of practical value. In the example above "Expression profiling by high throughput sequencing" could mean RNA-seq, scRNA-seq, ATAC-seq (or is that DNA sequencing?), etc. You'll really only get about 4 broad assays out of this: DNA-seq, RNA-seq, microarray

[2020-05-03 22:29] jaeddy commented on #28
Thanks, @bswhite! I'll take a look at the Python script and geoparse. I'm getting a little annoyed with how rentrez returns results anyway...

[2020-05-03 23:03] #19 closed, assigned to nobody

[2020-05-04 17:12] bswhite opened #38 "finding BioProject associated with a GEO GSE id"
You can look up a BioProject associated with a GEO GSE id using rentrez:

library(rentrez)
r_search <- entrez_search(db="bioproject", term="GSE116011")
r_search$ids  ## Ideally, just one
## [1] "476792"

entrez_summary(db="bioproject", r_search$ids[1])$project_acc
## This is what we want -- notice it is just the id above with "PRJNA" prefixed
## [1] "PRJNA476792"

[2020-05-04 17:33] bswhite commented on #35
Here is my plan to do this:

For any set of datasets having the same datasetName, at least one of which is a GSE/GEO dataset
e.g.,
SELECT * FROM syn21897968 where "datasetName" = 'An Optically Decodable Bead Array for Linking Imaging and Sequencing with Single-Cell Resolution'

https://www.synapse.org/#!Synapse:syn21897968/tables/query/eyJzcWwiOiJTRUxFQ1QgKiBGUk9NIHN5bjIxODk3OTY4IHdoZXJlIFwiZGF0YX

[2020-05-04 21:38] andrewelamb opened #39 "rows in merged dataset table have theme values while missign theme ids"
https://www.synapse.org/#!Synapse:syn21897968/tables/

This dataset for example:

[Glioblastoma Data](https://www.synapse.org/#!Synapse:syn11510898)

has the theme "heterogeneity/evolution" with an NA in its themeId column.

Any rows like these will lose their themes during any reverse etl process since they have no theme id

[2020-05-04 21:42] andrewelamb opened #40 "theme, assay, tumorType columns don't exists in dataset table"
The merged dataset [table](https://www.synapse.org/#!Synapse:syn21897968/tables/) has three columns: theme, assay, tumorType, that don't exist in the normalized dataset [table](https://www.synapse.org/#!Synapse:syn21889931/tables/). These are list columns so association tables will likely need to be added, otherwise manually added value will be lsot durring reverse etl.

[2020-05-05 03:26] bswhite commented on #38
library(rentrez)
lookup.gse <- function(gse) {
    r_search <- entrez_search(db="bioproject", term=paste0(gse, "[BPRJ]"))
    r_search$ids
}

get.gse.bioproject <- function(gse) {
    ids <- lookup.gse(gse)
    if(length(ids) != 1) { stop("Got multiple ids\n") }
    entrez_summary(db="bioproject", id=ids)$project_acc
}

## > get.gse.bioproject("GSE133747")
## [1] "PRJNA552370"

[2020-05-05 03:27] bswhite opened #41 "finding BioProject associated with a SRA SRP id"
library(rentrez)
lookup.srp <- function(srp) {
    r_search <- entrez_search(db="gds", term=paste0(srp, "[ACCN]"))
    r_search$ids
}

get.sra.bioproject <- function(srp) {
    ids <- lookup.srp(srp)
    if(length(ids) != 1) { stop("Got multiple ids\n") }
    gse.id <- entrez_summary(db="gds", id=ids)$accession
    get.gse.bioproject(gse.id)
}

## >   get.sra.bioproject("SRP212810")
## [1] "PRJNA5

[2020-05-05 03:49] jaeddy commented on #38
For the `entrez_search` term, I figured out that adding ` NOT superseries[Relevance]` can be helpful for avoiding multiple matches — i.e., a GSE ID should only be associated with one BioProject, unless one of those BioProjects represents a "super series".

[2020-05-05 21:42] bswhite commented on #28
This package:
https://rdrr.io/github/denalitherapeutics/archs4/
provides a very simple interface to getting all (I believe) of the information we want from GEO -- title, summary, and overall design.

lookup_gse("GSE109171")

described here:
https://rdrr.io/github/denalitherapeutics/archs4/src/R/geo-utils.R

it parses GEO's XML. Not thrilled to be pulling in a library presumably intended to do much

[2020-05-05 21:53] bswhite opened #42 "remove GEO superseries datasets"
@jaeddy I would like to remove GEO superseries datasets from curation / the datasets (and pubs) tables. What do you think?

Of the ~330 datasets currently on the portal, 23 are superseries. This reduces the annotation burden somewhat. Also, there essentially stubs with descriptions (taken from GEO) like:
"This SuperSeries is composed of the SubSeries listed below."
We could cobble together the des

[2020-05-05 21:57] jaeddy commented on #42
I fully support this idea! Even GSE series are a little awkward to treat as "datasets" as GEO has a concept for that (GDS), but the hierarchy is more straightforward/consistent in that case. Maybe at some point we can re-introduce a "parentSeries" annotation (or something similar), but I'm fine excluding for now.

[2020-05-05 22:05] bswhite commented on #42
Great. Thanks.

For my future reference, rather than do this programmatically, I used the Synapse UI:

Query for superseries:
SELECT * FROM syn21897968 where "description" LIKE '%SuperSeries%'
and then remove all of the datasets returned by the query.

We will need to be smarter about what GEO datasets go _into_ this table -- as an extreme fallback, if we are about to add a GSE id to a table, we c

[2020-05-05 22:05] #42 closed, assigned to nobody

[2020-05-05 22:42] bswhite commented on #28
Unbelievable! This interface does not return organism/species/taxon ... so I will use a combination of archs4:lookup_gse and rentrez.

[2020-05-05 22:42] #28 closed, assigned to nobody

[2020-05-05 23:19] bswhite commented on #38
And the reverse search:
r_search <- entrez_search(db="gds", term="PRJNA429917[ACCN]")
entrez_summary(db="gds", id=r_search$ids)$accession
[1] "GSE109171"

[2020-05-06 03:48] bswhite opened #43 "Known issues in `add-geo-metadata-to-table.R`"
Plenty of issues with the new script I just checked in to download GEO metadata and add to a table, but it gets the job done (enough) for now:

- [ ] 1. It's slow because I've used serial for loops.
- [ ] 2. It confuses accessing GEO annotations with standardizing vocabularies. e.g., it translates some taxon to our ontologies (but not all). Probably this shouldn't be in this script.
- [ ] 3. It do

[2020-05-06 03:49] bswhite commented on #43
Also, I bet this could be extended to download GSE and SRA links. Though, unlike the other annotations, these might involve some interpretation / translation.

[2020-05-06 07:16] jaeddy commented on #43
Excellent! Thanks, @bswhite! I'll take a closer look at the new code tomorrow.

Here's what I've managed to capture (for the first 9 BioProject IDs of 199 for our current set of PMIDs — i.e., 6 PubMed IDs -> 9 BioProject IDs -> 268 samples):
https://www.synapse.org/#!Synapse:syn22015979/tables/

I need to do some additional debugging to get through the full list of matched BioProjects... then I'll

[2020-05-06 18:48] andrewelamb commented on #33
This seems to not be an issue now, either these got removed from the normalized table, or added to the merged table. @jaeddy @bswhite

[2020-05-06 19:10] andrewelamb opened #44 "Theme IDs missing from tools in merged tools table"
These two tools are missing their themeId and themes. The issue is themes are a property of their grant, so this type of edit can't be saved via reverse etl. Either the grantId needs to be changed, or their themes will be added back in each time we run the portalETL process
[code]

[2020-05-06 19:27] andrewelamb opened #45 "Project in merged table has wrong consortium"
This project:

[code]

[2020-05-06 19:38] andrewelamb opened #46 "Dataset table has a duplicated datatset"
The merged dataset table has a dataset that is in two rows:

[code]
It seems to be associated with two different publications, which may be the issue?

[2020-05-06 19:47] andrewelamb opened #47 "Datasets with two consortium IDs"
These datasets have two consortium ids:

[code]

Is that correct?

[2020-05-06 19:51] bswhite commented on #47
@andrewelamb , this could certainly happen in principle -- datasets and publications can be associated with multiple centers/grants and hence consortia. The first one is certainly correct -- it is associated with two different grants from Columbia, one of which is in CSBC and the other in PSON.

[2020-05-06 20:02] andrewelamb commented on #47
OK, no problem, my code wasn't handling this correctly, and I wanted to make sure this was correct before making a fix.

[2020-05-06 20:04] bswhite commented on #43
This looks great, but it looks like it's still missing overall design.

The first row in your table is from
https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE103242
and should have overall design
Transcriptome profiles of tamoxifen sensitive MCF-7 infected with pLenti-CMV-hygro-GFP or pLento-HA-EZH2 were sequenced in at least duplicates using Illumina HiSeq 3000.

(study_abstract is called "su

[2020-05-06 20:37] andrewelamb commented on #47
OK I lied, there is a problem! Datasets aren't associated directly with a consortium, but through a grant. The 5 I listed above are only associated with one grant each(as are all datasets I believe). In other words the way the database is set up datasets have a many-to-one relationship with grants. To do so we would need to add a table called dataset_grant to capture the new many-to-many relations

[2020-05-06 23:22] bswhite commented on #47
@andrewelamb the grantName and grantId columns are inconsistent. e.g., if you search for the first dataset
SELECT * FROM syn21897968 where "datasetName" LIKE '%An automatec microwell%'
you'll see that it has two Columbia grants under grantName, but only one under grantId. This is because grantId is an Entity. When I tried to add multiple synapse Ids in grantId, it complained that it was not an ent

[2020-05-07 14:59] andrewelamb commented on #47
@bswhite Yeah the grantId column is just entity, not a list. @jaeddy can you have entity list as a type? If not we may need to change this to stringList (or even string).

I ran into the same error as you Brian, James mentioned I needed to be in alpha mode to remove a column, maybe it's the same for changing the column type.

[2020-05-07 15:59] bswhite commented on #47
@andrewelamb what is alpha mode and how do I get there? James mentioned this once, but I didn't follow up. We are having trouble editing tables (e.g., the datasets table) using the web UI -- I believe because of multi-value types/annotations. It would be fantastic if alpha mode was a way around this. Otherwise, I'm having to delete all rows in the table and re-upload it in its entirety. That's a p

[2020-05-07 16:14] andrewelamb commented on #47
I don't entirely what alpha mode entails, but I believe it lets you test out features that aren't fully tested yet. You activate by going to the bottom right corner while logged into synapse and clicking the green helmet button.

[2020-05-07 16:19] bswhite commented on #47
Thanks -- that didn't solve my problem. I'll ask it elsewhere.

[2020-05-08 04:20] jaeddy commented on #46
Hmm... yeah, I would suspect publication as the culprit — otherwise `distinct()` should take care of duplicates. We haven't looked at making publication a list column, because the goal is to present the pub in which the dataset was first reported. Maybe we can just check the publication date and keep whichever came first.

[2020-05-08 04:21] jaeddy commented on #44
@andrewelamb do we not have themes associated with that particular `grantId`? That should be something we can fix.

[2020-05-08 04:52] jaeddy commented on #43
I thought the lack of overall design was so odd, but I found it! It's actually embedded in the `study_abstract`.

Yeah, the `sample_attribute` is returned as a list of `$TAG` and `$VALUE` elements, so I concatenated so rows would line up. We could potentially parse them out into separate columns at some point, but based on my own experience submitting to GEO, I'd be shocked if field names were sta

[2020-05-08 04:58] jaeddy opened #48 "Migrate all linked NCBI-linked dataset folders to Portal DB project"
The entities in the [normalized dataset table](https://www.synapse.org/#!Synapse:syn21889931/tables/) are based on mock entities that I've created in [this folder](https://www.synapse.org/#!Synapse:syn21889510).

@bswhite has updated the data in the [merged datasets table](https://www.synapse.org/#!Synapse:syn21897968/tables/
) such that synIDs point to the appropriate folders across various Synap

[2020-05-08 05:08] jaeddy opened #49 "Create link entities for all NCBI samples associated with BioProjects"
Files like [this one](https://www.synapse.org/#!Synapse:syn21789711) are entities linked to external files on an NCBI ftp server.

![image](https://user-images.githubusercontent.com/5033229/81456375-eab9ba00-9146-11ea-895c-1f9c62ff1c34.png)

As we fill out the table of samples linked to BioProjects (see #53), we should make sure to create and annotate corresponding entities in Synapse.

[2020-05-08 05:09] jaeddy opened #50 "Update short/display name for institutions"
I've grabbed standard institution names and aliases from the [Research Organization Registry](https://ror.org/) API. However, not all institutions include an alias / abbreviation / acronym on the site (and some are maybe not great in terms of display).

I'm hoping that we can update the `displayName` column in [this table](https://www.synapse.org/#!Synapse:syn21905891/tables/) to have sensible (an

[2020-05-08 05:09] jaeddy opened #51 "Fill in text for ecosystem section of homepage"
We need to fill in some actual text for the "Cancer Resource Information Ecosystem" section of the portal homepage.

![image](https://user-images.githubusercontent.com/5033229/81378518-4854f480-90bc-11ea-9809-7251ece8df24.png)

This can be done by editing the sub-wiki pages here:
https://www.synapse.org/#!Synapse:syn21498902/wiki/601488

[2020-05-08 05:21] jaeddy commented on #45
Weird... Not sure how that happened. Fixed in the merged table.

[2020-05-08 05:21] #45 closed, assigned to jaeddy, bswhite

[2020-05-08 05:23] jaeddy commented on #40
For a few reasons (which I'll try to capture in other issues), I think we'll need a different strategy for datasets. Closing this for now.

[2020-05-08 05:25] jaeddy commented on #35
@bswhite this is looking pretty good in the merged table — would you say it's done? Let me know if you need help with anything.

[2020-05-08 05:31] jaeddy commented on #44
The answer is apparently "nope". Here's the grant project:
https://www.synapse.org/#!Synapse:syn9775651/wiki/427107

@bswhite any thoughts on how to assign theme(s) here?

[2020-05-08 05:45] jaeddy commented on #39
Fixed.

[2020-05-08 05:45] #39 closed, assigned to jaeddy

[2020-05-08 05:48] jaeddy commented on #27
@bswhite any thoughts on `"Unspecified"`, `"Unannotated"`, etc.? Sounds like we want to keep `"Not Applicable"`?

[2020-05-08 06:04] jaeddy commented on #41
@bswhite I copied this to a [wiki page](https://github.com/Sage-Bionetworks/csbc-pson-dcc/wiki/NCBI-API-Usage) to keep as a reference.

[2020-05-08 06:08] jaeddy commented on #38
@bswhite I copied this to a [wiki page](https://github.com/Sage-Bionetworks/csbc-pson-dcc/wiki/NCBI-API-Usage) to keep as a reference.

[2020-05-08 06:08] #38 closed, assigned to nobody

[2020-05-08 06:39] jaeddy opened #53 "Troubleshoot and run publication-to-sample NCBI data retrieval script"
The main function, `get_bp_sra_df()` in [this notebook](https://github.com/Sage-Bionetworks/csbc-pson-dcc/blob/master/nbs/ncbi_crawler.Rmd) currently only works for the first 9 BioProject IDs. This is the error for the 10th project:

[code]

... but I'm guessing that won't be the last. The goal is to debug and run for all 198 (currently) BPs and store the results in [this table](https://www.synaps

[2020-05-08 07:37] jaeddy opened #54 "Add additional vocabularies to CSBC/PS-ON annotations table"

[2020-05-08 08:43] vpchung commented on #53
Sure, let me know what you think, @andrewelamb !

[2020-05-08 16:52] bswhite commented on #47
@jaeddy how should we handle multiple synapse IDs in grantId? This is coming up for me in annotating?

Is there an entity list? Should we use a string list? Or just a string? The latter would assume we are accessing this field using LIKE, I believe.

grantName is currently a string. It, too, will have multiple grants. Should this be changed to string list? Probably. There are 3 datasets that show

[2020-05-08 17:37] bswhite commented on #53
@andrewelamb , I also had difficulty with getGEO bombing on some datasets. I never figured out why, but just skipped over them. When you get to this, let me know which one dies and I can see if I had a similar issue with getGEO.

As usual ... my approach was to get something 90% working on 80% of cases ... to have something to show the NCI.

[2020-05-08 17:43] jaeddy commented on #47
@bswhite - the way I've been treating multi-value columns is to only convert to `List`-types for things we need to facet; for everything else, I'm using a standard comma-separated string (or "|" for institutions, which may have a comma in their name).

You raise a good point though that, even if we're not exposing a column as a facet for viz/filtering on the explore page, we might still use it for

[2020-05-08 19:37] jkcinelli commented on #50
Completed.

[2020-05-08 19:37] #50 closed, assigned to jkcinelli

[2020-05-08 19:50] bswhite commented on #27
I have a slight preference for "Unspecified" (over "Unannotated") indicating that we attempted to annotate this, but could not.

I think "Not Applicable" should be "", so they don't show up in the cards (and hopefully eventually not in the pie charts and facets).

Using "" will create an issue differentially between "Not Applicable" and "Not Yet Annotated." I think we should just try to catch thos

[2020-05-08 19:52] jkcinelli commented on #51
@jaeddy Should we include this under Cloud Platforms: https://datascience.cancer.gov/data-commons

[2020-05-08 20:01] jaeddy commented on #51
@jkcinelli my thinking that the CRDC falls into two buckets: the various "data commons" (GDC, PDC, etc.) and the [Cloud Resources](https://datascience.cancer.gov/data-commons/cloud-resources). The latter are more about being able to compute at scale vs. just hosting and exploring data.

[2020-05-08 20:01] jaeddy commented on #51
I guess it probably wouldn't hurt to have summary descriptions of the different sections... I'll think about that some more. 🙂

[2020-05-08 21:19] bswhite commented on #44
@andrewelamb did something change above? I don't see a problem. The grant that James listed (and that is associated with those tools) has Themes
Drug Resistance/Sensitivity, Heterogeneity
with theme Ids:
syn21630076, syn21630075
These are set in the grants table:
SELECT * FROM syn21918972 where "grantId" = 'syn9775651'

[2020-05-08 21:20] bswhite commented on #35
Yep, it's done.

[2020-05-08 21:20] #35 closed, assigned to nobody

[2020-05-08 21:58] jaeddy commented on #27
Got it — I'll make another pass to include those changes.

When we have the end-to-end pipeline working a bit better, we can keep the "Not Yet Annotated" in the internal tables for our own information/tracking — then remove them from the tables that get shown in the portal.

[2020-05-08 22:23] jkcinelli commented on #51
Completed. Please let me know if any of these need additional text.

[2020-05-08 22:23] #51 closed, assigned to jkcinelli

[2020-05-08 22:25] jaeddy commented on #44
Weird. Not sure what happened... I'll make sure the fix is propagated to the tools table.

[2020-05-11 06:50] jaeddy commented on #53
I think I sorted out the various snags — NCBI data for 14,196 samples now available in the [`bioproject_sra` table](https://www.synapse.org/#!Synapse:syn22015979/tables/). I'll check the updated code in tomorrow.

[2020-05-11 07:04] #53 closed, assigned to jaeddy

[2020-05-11 23:20] jaeddy opened #56 "Figure out how to make use of sample data from NCBI"
@bswhite, @vpchung, @andrewelamb - This may have gotten lost after I closed the related issue, but I've debugged my NCBI crawling code and now have a [**table of metadata**](https://www.synapse.org/#!Synapse:syn22015979/tables/) for 14,196 samples (PubMed ID -> BioProject ID -> BioSample in GEO, SRA, maybe others). At a minimum, we can probably use this to make sure we're not missing any datasets

[2020-05-12 05:15] jaeddy commented on #30
After filtering out the `"Not Applicable"` assay annotations, there were actually only 3 publications for which values were missing. These have been updated with the correct assay lists.

[2020-05-12 05:15] #30 closed, assigned to jaeddy

[2020-05-12 06:07] #33 closed, assigned to jaeddy

[2020-05-12 06:35] jaeddy commented on #32
@bswhite - I don't have access to any of the grant Synapse projects except (6). Can you update the sharing settings?

Otherwise, I've filled in the `grantId` annotation for each of these projects, so can close this issue after confirming that the links are valid.

[2020-05-12 06:46] jaeddy commented on #44
Fixed in merged tools table.

[2020-05-12 06:46] #44 closed, assigned to jaeddy, bswhite

[2020-05-12 06:47] jaeddy commented on #9
Not sure if this issue is still relevant. Closing for now.

[2020-05-12 06:47] #9 closed, assigned to jaeddy

[2020-05-12 13:55] bswhite commented on #32
@jaeddy you should have access now through "CSBC PSON Administrators" -- which I've just ensured has admin access to all the grants. This was generally true of older grants and generally not true of newer grants. Let me know if there is something you still can't access.

[2020-05-12 14:38] andrewelamb commented on #48
@jaeddy

Since this will be a file/folder view we will need to update/add annotations on these entities.

For example one of your mock entities look like this:

grantId | syn9773338
displayName | GSE100274
overallDesign | NA
fullName | NA
synapseLocation | syn21796552
publicationId | syn21648934

One of the folders references in the merged dataset view:

grantName | Dynamics of Gene and Isoform Re

[2020-05-12 14:44] bswhite commented on #48
@andrewelamb and @jaeddy -- I still think this (migration to a single folder) will be convenient, but note that the file/folder view that it will facilitate may not be useful. We use tables, including for datasets, in part because tables support long text fields (needed for dataset summary/description and overall design) and views do not.

@andrewelamb please let us (@vpchung and @jaybee84 ) know

[2020-05-12 15:55] jaeddy commented on #48
@andrewelamb I think we'll need to abandon the current dataset entities and tables in the [Portal DB](https://www.synapse.org/#!Synapse:syn21498902). I'd rename the [`datasets` folder](https://www.synapse.org/#!Synapse:syn21889510) to `datasets_old` in case we need anything there, then move the referenced folders into a new `datasets` folder. Once everything is in the same place, we can recreate t

[2020-05-12 16:06] andrewelamb opened #57 "Publications with two consortiums"
This is similar to [datasets](https://github.com/Sage-Bionetworks/csbc-pson-dcc/issues/47).

There a publications with two consortiums now, when the normalized tables assume only one.

[2020-05-12 16:48] andrewelamb commented on #48
@jaeddy @bswhite

Right now I am copying the entities into a test folder to work on. It looks like I won't be able to move all the entities due to permissions issues when we decide to really do this.

[2020-05-12 17:03] andrewelamb commented on #48
@jaeddy Could you clarify what you mean by "clean up the annotations"?

Should i preserve all existing annotations? Should I replace all the annotations with the values in the merged dataset table? Something in between?

[2020-05-13 03:09] jaeddy commented on #57
Fixed. [This table](https://www.synapse.org/#!Synapse:syn21682660/tables/) should be up to date now.

[2020-05-13 03:09] #57 closed, assigned to jaeddy

[2020-05-13 04:45] jaeddy commented on #32
These should all be fixed in the [merged projects table](https://www.synapse.org/#!Synapse:syn21868602/tables/) now.

[2020-05-13 04:45] #32 closed, assigned to jaeddy

[2020-05-13 04:45] jaeddy commented on #27
Calling this fixed for now.

[2020-05-13 06:09] jaeddy commented on #47
Fixed `grantId` column in the [merged table](https://www.synapse.org/#!Synapse:syn21897968/tables/) for datasets with multiple grants. Also made the `grant` (aka `grantNumber`) a `STRING_LIST` and facet, with #34 in mind.

I added dataset <-> grant associations to [this table](https://www.synapse.org/#!Synapse:syn22038800/tables/).

[2020-05-13 06:09] #47 closed, assigned to jaeddy

[2020-05-13 06:41] jaeddy commented on #46
I deleted the record with the more recent publication (i.e., [PMID:27479327](https://pubmed.ncbi.nlm.nih.gov/27479327/). However, I'd like to revisit this issue at some point in the future: the dataset in question is actually [NeuroLINCS](https://www.ncbi.nlm.nih.gov//bioproject/PRJNA349770), which almost certainly wasn't _generated_ via CSBC/PS-ON funding. Moving forward, we might want to capture

[2020-05-13 06:41] #46 closed, assigned to jaeddy

[2020-05-13 08:30] jaeddy commented on #34
@bswhite - I've updated all tables to facet on grant number instead of name. The change propagated to the staging site without needing to modify any of the portal configs.

**Note:** I haven't updated any of the card configs to ensure that queries (i.e., to direct links to the correct "details" page) are keyed on `grantNumber` instead of `grantName`. That step aside, do we want to use grant number

[2020-05-13 13:55] bswhite commented on #34
@jaeddy nice! I think we should continue to display grantNames not grantNumbers. I know the former are unwieldy, but they are more informative.

[2020-05-13 14:26] bswhite commented on #41
@jaeddy do you know how to translate a BioProject PRJNA id into an SRA SRP ID? i.e., the reverse of above? I spent an hour screwing around with rentrez last night to now available. I don't understand the various NCBI databases and their links -- is there a data model? I have seen rentrez_dbs(), rentrez_db_links(), but they're only so helpful.

[2020-05-13 17:01] jaeddy commented on #41
@bswhite probably the best way for now is just to use [this table — e.g.](https://www.synapse.org/#!Synapse:syn22041415/tables/query/eyJzcWwiOiJTRUxFQ1QgRElTVElOQ1QgcHJvamVjdF9hY2MsIHN0dWR5X2FjY2Vzc2lvbiBGUk9NIHN5bjIyMDQxNDE1IFdIRVJFIHByb2plY3RfYWNjID0gJ1BSSk5BNDAwNjA2JyIsICJpbmNsdWRlRW50aXR5RXRhZyI6dHJ1ZSwgImlzQ29uc2lzdGVudCI6dHJ1ZSwgIm9mZnNldCI6MCwgImxpbWl0IjoyNX0=). I combined the BioProject me

[2020-05-13 17:08] jaeddy commented on #34
@bswhite I agree that (a) grantNumbers are more stable/reliable as keys, and (b) grantNames are more informative — though neither are particularly useful as facets (both in terms of formatting and information content). What if we kept both in the table for query and/or search, but instead use **"Grant Institution"** as the facet? Curious if @jkcinelli has thoughts.

[2020-05-13 17:10] jkcinelli commented on #34
I do agree that "Grant Institution" might be the most useful facet.

[2020-05-13 18:56] jaeddy commented on #34
👍 I'll try it out with one of the tables and we can evaluate.

[2020-05-13 20:03] bswhite commented on #34
I can see value in both grant institution and grant name. But, if I had to choose one, I would stick with grant name. institution won't be unique -- there are a lot of mit grants, a lot of columbia grants. On the flip side (or argument for both), while some grant names clearly indicate the (single) institution, others are very generic -- and unless you know to be searching for that grant name (and

[2020-05-13 20:49] jaeddy commented on #34
Fair point. I think lack of uniqueness would generally be an argument in favor of any particular field being a facet (i.e., more like a categorical variable for selecting/subsetting than an identifier). However, the ideal way to handle something like `grantName` would probably be more of a text field with look-ahead / auto-complete — e.g.,

![image](https://user-images.githubusercontent.com/503322

[2020-05-13 21:16] jaeddy commented on #56
@bswhite, @vpchung, @jaybee84 - I've added another table ([**`bioproject_combined`**](https://www.synapse.org/#!Synapse:syn22041415/tables/)) that merges BioProject metadata with all the study/sample/experiment/run metadata from SRA and GEO.

I don't think the process for collecting the information — nor the content or structure of the data itself — is mature enough to use for any sort of automati

[2020-05-13 23:41] bswhite commented on #56
Thanks, @jaeddy . I passed on to Jineta and Verena a simple wrapper around this table to create the externalLink markup given a BioProject PRJNA id. The guts of this is selecting the GSE (study_center_project_name) and SRA (study_accession) ids like:

`SELECT DISTINCT project_acc,study_accession,study_center_project_name FROM syn22041415 where project_acc = 'PRJNA476340'`

In this example, both th

[2020-05-14 13:39] andrewelamb commented on #48
@jaeddy @bswhite

I don't have the correct permissions to move these entities:

"syn11510898" "syn7248581"  "syn7248583"  "syn7248584"  "syn7248585"  "syn7248586"  "syn7248591"  "syn7248592"  "syn9697791"

[2020-05-14 14:16] andrewelamb commented on #40
@jaeddy Should we address this now? My thoughts are to have dataset_assay, dataset_tissue, dataset_tumorType tables in the normalized tables.

[2020-05-14 16:00] bswhite opened #58 "link tools to publications in publication card"
@jaeddy it looks like tools are not linked to publication cards, even though they are on the publication detail page. Do you agree those tool links should be included on the publication card?

e.g., if you search under "publication" (this needs to be changed, but that's another issue) for "viper", you will see this publication:
Quantitative assessment of protein activity in orphan tissues and sing

[2020-05-14 16:02] bswhite opened #59 "automated validation of internal portal-to-portal links"
@andrewelamb do you already or can you confirm the validity of links between the various portal entities?

For example:
1. For datasets:
1a. Is there at least one file assigned to each dataset (probably need to do this with some care to avoid processing the entire data file view for each query)? (This check would almost certainly fail at the moment -- but we are trying to plug these holes.)
1b. Is

[2020-05-14 16:06] bswhite opened #60 "automated validation of external links"
@andrewelamb is there a way to check that external links are valid / not broken?

This includes:
1. The Pubmed Link for publications.
2. Each entry in the comma-separated list of External Link for datasets.
3. The title (currently) of the tools card -- though eventually we probably want this title to link to a tools detail page for consistency with the behavior of clicking on other card titles.

[2020-05-14 16:12] bswhite commented on #48
@andrewelamb do you mind if we don't move these? These are a special case -- they are the PS-ON Cell Line datasets.

Note that they are all included in one Synapse project -- syn7248578. Though this may not be helpful to you because there are several other folders within that project that you should not include as datasets / data files:
syn17096714
syn17096709
syn11205984

[2020-05-14 16:26] andrewelamb opened #61 "Grants missing in merged table"
These [grants](https://www.synapse.org/#!Synapse:syn21639712/tables/query/eyJzcWwiOiJTRUxFQ1QgKiBGUk9NIHN5bjIxNjM5NzEyIHdoZXJlIGlkIGluICgnc3luOTc3NDk1OScsICdzeW45Nzc1NjY1JywgJ3N5bjk3NzU3MDQnKSIsICJpbmNsdWRlRW50aXR5RXRhZyI6dHJ1ZSwgImlzQ29uc2lzdGVudCI6dHJ1ZSwgIm9mZnNldCI6MCwgImxpbWl0IjoyNX0=) should be in the [merged grants table](https://www.synapse.org/#!Synapse:syn21918972/tables/query/eyJzcWwiOi

[2020-05-14 16:29] jaeddy commented on #59
@bswhite I had some thoughts on this yesterday and was going to take a stab at it this afternoon. If I can get a basic version working, I'll hand off to @andrewelamb or someone else to flesh out the details.

[2020-05-14 16:31] bswhite commented on #59
Great, @jaeddy . Let me know if you want to talk things over. Like I said, 1a is going to fail often right now -- but Verena, Jineta, and I are working on that and should have things patched up by the end of next week, if not earlier.

[2020-05-14 16:35] andrewelamb commented on #48
The plan was to use a file/folder view to manage these, and  propagate changes made the the merged dataset table to the annotations of these files/folders. @jaeddy what do you think?

[2020-05-14 16:38] andrewelamb commented on #48
The other way of doing this would be to create some placeholder entities in the datasets folder that are referenced by the merged dataset table, instead of the actual datasets you don't want to move.

[2020-05-14 16:47] jaeddy commented on #60
We can probably do something with the **httr** (R) or **requests** (Python) library, or even something similar in either language for just executing `curl` commands. It's a little tricky for a lot of NCBI links because of how the search is performed. For example:

Checking a valid URL...
[code]

... returns a success code (`200`).
[code]

A clearly invalid URL...
[code]

... returns a "not found"

[2020-05-14 19:49] andrewelamb commented on #61
These are referenced by several publications as well

[2020-05-14 20:17] andrewelamb commented on #61
Note these ids are in the normalized grants table, but not in the merged grants table:

1 syn9774959
2 syn9775665
3 syn9775704
4 syn17023185
5 syn17084070

[2020-05-14 20:51] andrewelamb opened #62 "Projects missing merged projects table"
These projects are in the projects table, but missing from the merged projects table:

[1] "syn21645010" "syn21645011" "syn21645016" "syn21645018" "syn21645019" "syn21645022" "syn21645023"
 [8] "syn21645029" "syn21645040" "syn21645045" "syn21645057" "syn21645059" "syn21645065" "syn21645067"
[15] "syn21645068" "syn21645071" "syn21645072" "syn21645075" "syn21645078" "syn21645080" "syn21645081"
[22]

[2020-05-14 21:00] andrewelamb opened #63 "Publications missing from merged publication table"
These publications are missing from the merged publication table:

1] "syn21645279" "syn21645281" "syn21645603" "syn21648900" "syn21648910" "syn21648958" "syn21649079"
 [8] "syn21649080" "syn21681787" "syn21681888" "syn21682016"

[2020-05-15 01:16] jaeddy opened #64 "Create GitHub action for updating table versions"
I'd like to set something up so that we can run [**this script**](https://github.com/Sage-Bionetworks/csbc-pson-dcc/blob/auto-version-bump/R/version_bump.R) on a regular basis (maybe 1-2x/day until the tables stabilize a bit).

I'm guessing the most straightforward way to accomplish this is to create a Docker image with R/tidyverse, conda+synapseclient, and a copy of the script. We might also need

[2020-05-15 02:22] jaeddy commented on #59
Sounds good! Do you want to use the brain bash time tomorrow to check in among everyone on the annotation team? I'm also fine with continuing to sync offline.

[2020-05-15 03:46] jaeddy commented on #64
Fixed by #66

[2020-05-15 03:46] #64 closed, assigned to nobody

[2020-05-15 03:55] jaeddy commented on #58
Hmm.. yeah, that seems perfectly sensible to me. We're treating publications, datasets, and tools are our "trifecta" of resources, so it make sense that we'd have links going in all directions between them.

[2020-05-15 04:33] jaeddy commented on #61
@andrewelamb

These all appear to be unused/deprecated Synapse projects. Please remove from the normalized grant table and any association tables.

This one might be legitimate and incorrectly missing from the merged table: https://grantome.com/grant/NIH/U01-CA195469-05

However, we don't seem to have any annotations [for the grant](https://www.synapse.org/#!Synapse:syn10142562/tables/query/eyJzcW

[2020-05-15 14:15] andrewelamb commented on #61
@jaeddy The issue is the above four you said shoudl be removed are referenced at least by some [projects](https://www.synapse.org/#!Synapse:syn21645147/tables/query/eyJzcWwiOiJTRUxFQ1QgKiBGUk9NIHN5bjIxNjQ1MTQ3IHdoZXJlIGdyYW50SWQgaW4gKCdzeW45Nzc0OTU5JywgJ3N5bjk3NzU2NjUnLCAnc3luMTcwMjMxODUnLCAnc3luMTcwODQwNzAnKSIsICJpbmNsdWRlRW50aXR5RXRhZyI6dHJ1ZSwgImlzQ29uc2lzdGVudCI6dHJ1ZSwgIm9mZnNldCI6MCwgImxpbWl

[2020-05-15 14:26] andrewelamb opened #67 "Typos in grantnames"
These publications have a type in their [grantName](https://www.synapse.org/#!Synapse:syn21868591/tables/query/eyJzcWwiOiJTRUxFQ1QgcHVibGljYXRpb25JZCwgZ3JhbnROYW1lIEZST00gc3luMjE4Njg1OTEgd2hlcmUgcHVibGljYXRpb25JZCBpbiAoJ3N5bjIxNjgxNDQwJywgJ3N5bjIxNjgxMzE5JywgJ3N5bjIxNjgxNzkxJywgJ3N5bjIxNjgxMzE4JywgJ3N5bjIxNjgxMzk4JykiLCAiaW5jbHVkZUVudGl0eUV0YWciOnRydWUsICJpc0NvbnNpc3RlbnQiOnRydWUsICJvZmZzZXQiOjAsI

[2020-05-15 14:58] andrewelamb opened #68 "datasets with duplicate grants"
These [datasets](https://www.synapse.org/#!Synapse:syn22038800/tables/query/eyJzcWwiOiJTRUxFQ1QgKiBGUk9NIHN5bjIyMDM4ODAwIHdoZXJlIGRhdGFzZXRJZCBpbiAoJ3N5bjIxODg5NzcwJywgJ3N5bjIxODg5NzcwJykiLCAiaW5jbHVkZUVudGl0eUV0YWciOnRydWUsICJpc0NvbnNpc3RlbnQiOnRydWUsICJvZmZzZXQiOjAsICJsaW1pdCI6MjV9) have duplicated grants. I can delete the extras if that's ok.

[2020-05-15 15:08] andrewelamb opened #69 "Merged datasets table have a lot of changes to field that are not direct attributes"
after doing reverse etl, and portal etl on the new dataset file view I'm getting the  differences listed below between the live merged table (prod), and the test merged table. These are not attributes of datasets, but are either attributes of the grant, or things associated through the grant. Therefore, these changes can't be saved would be removed if did everse etl, and portal etl on the live tab

[2020-05-15 15:32] andrewelamb commented on #49
@jaeddy I'm think I'm unclear on what this entails.

Do we want a link entity for every row in [this table](https://www.synapse.org/#!Synapse:syn22015979/tables/)? Are the columns in that table the annotations we want to add to the link entity?

[2020-05-15 15:35] andrewelamb commented on #69
@andrewelamb

[2020-05-15 15:37] andrewelamb commented on #69
@andrewelamb

[2020-05-15 19:07] bswhite opened #71 "missing files from some GEO datasets"
We are missing files from some GEO datasets. One example is GSE87517/PRJNA345006

https://staging.csbc-pson.synapse.org/Explore/Datasets/DetailsPage?datasetId=syn12976694

I'm fairly certain this is because these data were populated using get-geo-annotations.R, which has the following offending line:

## Iterate over each of the GSMs associated with this GSE
metadata.tbl <- ldply(sampleNames(pheno

[2020-05-17 04:56] bswhite opened #72 "aggregate (as opposed to per-sample) GEO files"
Some GEO datasets, such as this one
https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE107559
seem to only have aggregate files (e.g., expression matrices across all samples), as opposed to per-sample files. get-geo-annotations.R, which was used to link many of these files, does not pick up those aggregate files.

How do we find them? Need to go back and find datasets with those aggregate files

[2020-05-17 20:12] bswhite opened #73 ""|" separated not being parsed correctly by portal (in grantName)"
This dataset (alias = PRJNA352075)
https://staging.csbc-pson.synapse.org/Explore/Datasets?QueryWrapper0=%7B%22sql%22%3A%22SELECT%20*%5Cn%20%20FROM%20syn21897968%5Cn%20%20WHERE%20(%60datasetAlias%60%20LIKE%20%27%25PRJNA352075%25%27)%22%2C%22limit%22%3A25%2C%22offset%22%3A0%7D
has two grants associated with it, separated by a "|".

Columbia University Center for Topology of Cancer Evolution and Hete

[2020-05-17 20:27] jaeddy commented on #73
@bswhite do you know if there's another symbol that the portals recognize as a delimiter? Comma isn't an option, as there are multiple grants that have a comma in the name (note: [the opposite problem](https://sagebionetworks.jira.com/browse/PORTALS-1303) is true for publications, where titles are being split for a single pub).

Another option would be to convert to an actual `STRING_LIST` column,

[2020-05-17 20:27] jaeddy commented on #73
Whoops. Didn't mean to close!

[2020-05-17 20:35] bswhite commented on #73
@jaeddy -- I don't know. I'm guessing that portals only recognized "," as a delimiter. But we could probably change that with Michael. I don't understand how STRING_LIST is implemented -- so I can't comment on the "blowing up."

"|" does seem like a very reasonable delimiter though -- I don't think I've seen that in any fields of interest.

I don't think this is urgent. I just wanted to make sure

[2020-05-17 20:38] bswhite opened #74 "NAs in GSE titles"
Several times I've seen NAs in the title column of a GSE dataset, even though it's on GEO. I must not have included the title when I linked to some datasets.

When we go back over these to further annotate at file-level, we should remember to ensure we have the title.

Here is an example:
https://staging.csbc-pson.synapse.org/Explore/Datasets/DetailsPage?datasetId=syn11342978
GSE = GSE103224
datas

[2020-05-18 04:56] jaeddy opened #75 "Check consortium annotation for potential ICBP grants"
From Shannon on May 5th:

I haven't checked the grants recently to see if this comment is still relevant. If we do have projects that should be part of ICBP, I recommend that we set that value for the `consortium` annotation. We can probably update the portal for now so that those grants are returned in queries... but maybe add them back in later?

[2020-05-19 21:54] jaeddy opened #76 "Convert publication titles to `STRING_LIST` columns"
See this [Jira ticket](https://sagebionetworks.jira.com/browse/PORTALS-1319).

Even though these should be single-item arrays in most cases, they need to be treated as lists so that commas aren't incorrectly parsed in the portal.

[2020-05-22 18:49] bswhite opened #77 "sub-titles of grant, project, and publication cards broken"
The sub-titles of grant, project, and publication cards seems to be displaying the name of the annotation column (institution, grantName, and authors, respectively) rather than the value itself.

Please see the attached screenshot -- I'm referring to "institution" under "Cancer Cell Map Initiative"

<img width="816" alt="grant-sub-title" src="https://user-images.githubusercontent.com/5123034/82699

[2020-05-22 19:04] jaeddy commented on #77
@bswhite - it looks like something changed a couple hours ago in the `synapse-react-client` that changes how values and links in cards are rendered. I'm guessing the culprit is somewhere in this block of code (or in something related):

https://github.com/Sage-Bionetworks/Synapse-React-Client/blob/develop/src/lib/containers/GenericCard.tsx#L279-L286

@leem42 - Should we open a Jira for this bug?

[2020-05-22 19:45] bswhite commented on #69
@andrewelamb , can you please send me a table with the datasetId, prod, and test values for $value_diffs$grantName. These are truncated. Even if you just have the datasetId's, I can probably figure it out.

As for the rest of these differences:

I trust your test results for themeId and theme. Would you please propagate those to the live merged table?

The 3 differences under grant should have the

[2020-05-22 19:48] bswhite commented on #68
@andrewelamb , yes please delete the duplicates.

[2020-05-22 19:51] andrewelamb commented on #69
@bswhite it looks like the delimeter was changes for grantname:

[1] "syn21790809" "syn21792841" "syn21791505" "syn21812572" "syn21811318" "syn21812592" "syn21813547"

[1] "Center for Cancer Systems Therapeutics (CaST) | Columbia University Center for Topology of Cancer Evolution and Heterogeneity"
[2] "Columbia University Center for Topology of Cancer Evolution and Heterogeneity | Dana-Farber Can

[2020-05-22 19:54] bswhite commented on #67
@andrewelamb , right,  please change 'Tumorprogression' to 'Tumor Progression'.

I have made this change to grantName in the live/merged publications table: syn21868591

[2020-05-22 20:04] bswhite commented on #69
@jaeddy can you weigh in on the above. The live merged tables are using "|" as a delimiter for grantName and the etl code is using ",". I think I've lost some of the related links.

This [one](https://sagebionetworks.jira.com/browse/PORTALS-1319) in Jira relates to publications, which should be changed to STRING_LIST.

And [here](https://github.com/Sage-Bionetworks/csbc-pson-dcc/issues/73) is the

[2020-05-22 20:43] #67 closed, assigned to jaeddy, bswhite

[2020-05-22 20:43] #68 closed, assigned to jaeddy, bswhite

[2020-05-22 20:46] leem42 commented on #77
@bswhite @jaeddy Thanks for pointing that out and the problematic code too! I made an [issue](https://sagebionetworks.jira.com/browse/PORTALS-1368) to track that. :man_facepalming:

[2020-05-22 22:49] bswhite commented on #61
@andrewelamb ,

I'm just confirming James' responses above with a little more detail. That detail is included below mostly for my future reference.

In short,
1. Remove syn9774959 and syn9775665 and any references to them in the projects, publications, datasets, tools, publications, and file tables/views.

2. Remove syn17023185 from datasets and projects, but confirm that it has no references in d

[2020-05-22 22:52] bswhite commented on #63
@andrewelamb OK, can you provide me a table with more information about them? Most importantly, what are their associated grantIds, grantNumbers, and grantNames? I wonder if I manually removed the associated grant. If you have the publication title and pubmed URL, that would also be helpful.

[2020-05-22 22:54] bswhite commented on #62
@andrewelamb can you give me more information about these projects -- in particular, what are their associated grantIds, grantNumbers, and grantNames? I wonder if I manually removed their associated grants. If you know the project name that would also be helpful.

[2020-05-22 23:10] andrewelamb commented on #63
@bswhite

Here are the [publications themselves](https://www.synapse.org/#!Synapse:syn21650536/tables/query/eyJzcWwiOiJTRUxFQ1QgKiBGUk9NIHN5bjIxNjUwNTM2IFdIRVJFIGlkIElOICgnc3luMjE2NDUyNzknLCAnc3luMjE2NDUyODEnLCAnc3luMjE2NDU2MDMnLCAnc3luMjE2NDg5MDAnLCAnc3luMjE2NDg5MTAnLCAnc3luMjE2NDg5NTgnLCAnc3luMjE2NDkwNzknLCAnc3luMjE2NDkwODAnLCAnc3luMjE2ODE3ODcnLCAnc3luMjE2ODE4ODgnLCAnc3luMjE2ODIwMTYnKSIsICJpbmNs

[2020-05-22 23:16] bswhite commented on #75
The attached file from Shannon from January lists the following ICBP grants

CA194389
CA188383
CA184898
CA184897
CA195469
CA199315
CA188388

@jaeddy I don't understand your comment above. Did you mean "update the portal for now so that those grants are _not_ returned in queries"?

Why not update consortium as you suggest? Do we do that on the live/merged tables or in the etl tables? We should chec

[2020-05-22 23:26] bswhite commented on #63
@andrewelamb

But some of these _do_ have grantId annotations (even if they aren't in that grant id table).

These have no annotations at all:
syn21682016
syn21681888
syn21681787

These have NA grantIds:
syn21649080
syn21649079

These have grantId = 7349770
syn21648958
syn21648900
syn21645281
syn21645279

These have grantId = 9773346
syn21648910

These have grantId = 9772917
syn21645603

How do we

[2020-05-22 23:40] bswhite commented on #63
I see, the grantIds are just synapse IDs without the "syn" prefix.

The three grantIds above and legitimate and are at least in the live/merged grants table.

They are:
syn7349770
Center on the Physics of Cancer Metabolism

syn9773346
Systems Analysis of Epigenomic Architecture in Cancer Progression

syn9772917
Embryonal Brain Tumor Networks

[2020-05-22 23:50] bswhite commented on #75
But here is a more recent set of grant numbers from Shannon
CA209997[Grant Number] OR CA209975[Grant Number] OR CA209971[Grant Number] OR CA209992[Grant Number] OR CA209923[Grant Number] OR CA217377[Grant Number] OR CA209891[Grant Number] OR CA209988[Grant Number] OR CA217297[Grant Number] OR CA209978[Grant Number] OR CA215798[Grant Number] OR CA215845[Grant Number] OR CA217376[Grant Number] OR CA

[2020-05-24 22:26] jaeddy commented on #76
This should be fixed. I converted `publicationId`, `publicationTitle`, and `publication` to `STRING_LIST` columns in both the merged datasets and merged tools tables.

[2020-05-24 22:26] #76 closed, assigned to nobody

[2020-05-25 07:32] jaeddy commented on #73
Grant info has been converted to `STRING_LIST` for projects, datasets, tools, and publications tables — I think this should resolve the parsing issue.

[2020-05-25 07:32] #73 closed, assigned to jaeddy

[2020-05-26 19:09] andrewelamb commented on #62
@bswhite @jaeddy

Here are the relevant [projects](https://www.synapse.org/#!Synapse:syn21645147/tables/query/eyJzcWwiOiJTRUxFQ1QgKiBGUk9NIHN5bjIxNjQ1MTQ3IHdoZXJlIGlkIGluICgnc3luMjE2NDUwMTAnLCAnc3luMjE2NDUwMTEnLCAnc3luMjE2NDUwMTYnLCAnc3luMjE2NDUwMTgnLCAnc3luMjE2NDUwMTknLCAnc3luMjE2NDUwMjInLCAnc3luMjE2NDUwMjMnLCAnc3luMjE2NDUwMjknLCAnc3luMjE2NDUwNDAnLCAnc3luMjE2NDUwNDUnLCAnc3luMjE2NDUwNTcnLCAnc3luMj

[2020-05-26 20:00] andrewelamb opened #78 "Columns in publications possibly changed that shouldn't have been"
The grant (grant number) and datasetId columns have some values that don't agree with what they should be. In addition, some of the grant numbers are duplicated. Unless the values in the test column are wrong this will be fixed automatically.
[code]

[2020-05-26 20:15] bswhite commented on #78
@andrewelamb , the rows in the tables above are truncated, would you please send the whole tables?

[2020-05-26 20:19] jaeddy commented on #78
@andrewelamb @bswhite This is most likely an error that was introduced when I converted the respective columns to `STRING_LIST`, so probably something I'll need to fix. I can grab the data from the table version prior to my update and try to fix from there.

[2020-05-26 20:26] andrewelamb commented on #78
[code]

[2020-05-26 21:44] bswhite commented on #62
@jaeddy , I'm working on this. I have the missing projects. I don't know why they are missing from the merged table.

[2020-05-26 23:08] bswhite commented on #78
OK @jaeddy  ... I notice that all of the publicationIds in the first table include the grant "CA215845" either alone or in combination with "CA182915".

CA215845 is From Mechanism to Population: Modeling HPV-related Oropharyngeal Carcinogenesis and should have been dropped.

CA182915 is itself problematic, as there were two grants associated with it -- one we agreed to drop.

[2020-05-26 23:10] bswhite commented on #62
@andrewelamb All of those are legitimate projects that should be in the merged projects table. I have included their descriptions and mapping to grants here. I needed to use fread to open this file in R because of some quoting in the description field.

[missing-project-descriptions.csv.txt](https://github.com/Sage-Bionetworks/csbc-pson-dcc/files/4685446/missing-project-descriptions.csv.txt)

[2020-05-26 23:41] bswhite opened #79 "blank publications are being rendered on portal"
Blank publications are now being rendered on the portal (see attached screenshot), whereas previously they would be dropped from the cards (the desired behavior). I imagine this is happening because publications were changed to STRING_LIST and the portal is not detecting them as empty.

Here is the corresponding entry in the datasets table:
https://www.synapse.org/#!Synapse:syn21897968/tables/quer

[2020-05-27 00:05] jaeddy commented on #79
Yup — I let @leem42 and he opened a Jira ticket: https://sagebionetworks.jira.com/browse/PORTALS-1370

[2020-05-27 03:13] jaeddy commented on #78
Thanks @bswhite — that matches what I'm seeing in the table. Not sure what happened (or why it only affected those 2 grants), but should be straightforward enough to fix.

I believe that the dataset IDs are all the result of manual curation at this point? At least, the `prod` versions seem to be in the merged publications table dating at least as far back as 5/14. @vpchung / @jaybee84 were these v

[2020-05-27 03:40] jaeddy commented on #77
Confirmed that this is fixed on staging. Thanks, @leem42!

[2020-05-27 03:40] #77 closed, assigned to nobody

[2020-05-27 05:50] jaeddy commented on #69
@andrewelamb `grantName` is a `STRING_LIST` column now, so delimiters shouldn't be an issue. Can you recompute discrepancies?

[2020-05-27 06:10] jaybee84 commented on #78
This [dataset](https://staging.csbc-pson.synapse.org/Explore/Datasets/DetailsPage?datasetId=syn21792696) under CA215845 grant was annotated by me, but it seems like the publications were already annotated for this dataset before I started working on this. Don't know if that is helpful to know, but wanted to mention it if that helps tracking down the timeline of the problem.

[2020-05-27 07:33] vpchung commented on #78
Sorry for coming to the convo late!

I don't recognize either of the grant numbers on my end, but I can look in more detail tomorrow morning.

[2020-05-27 15:04] andrewelamb commented on #69
@jaeddy @bswhite

It looks like the latest changes fixed grantName! There are still some(new?) discrepancies in themes:

[code]
The above differences will be fixed be reverse etl/portal etl since theme/theme id are attributes of the grant not dataset, assuming the values in test are what you want.

There is also one difference between publications:

[code]

[2020-05-27 15:22] andrewelamb commented on #78
@jaeddy @bswhite

It looks like James made some changes to the merged tables last night and the grant number is fixed. The dataset ids are still different:

[code]

[2020-05-27 15:57] andrewelamb opened #80 "Tool Publication table tricky to update"
This [table](https://www.synapse.org/#!Synapse:syn21967106/tables/) is a little strange, which is making me wonder how to update it via reverse etl. The relationship is many to many (but in practice I think 0/1 to 0/1). The wierd thing is the pubmedId column. If I'm adding or removing tool/publication relationships what should I do about the pubmedId? There are also rows without a publicationId, b

[2020-05-27 16:21] bswhite commented on #69
@andrewelamb , I trust the etl results (i.e., in test above) for theme. Though I didn't confirm any of the themes directly, I did notice that the first two datasets are associated with two grants. This probably wasn't properly handled initially.

etl/test is also correct for the last dataset (syn21889770) -- this should be associated with the two publications in test. Again may be a corner case wh

[2020-05-27 16:37] andrewelamb commented on #69
@bswhite I fixed the missing publication mentioned above. There are a few too many themes to fix by hand(but these will get fixed when we do reverse etl/portal etl on the real tables). I'm going to go ahead and close this one.

[2020-05-27 16:37] #69 closed, assigned to jaeddy, bswhite

[2020-05-27 16:57] andrewelamb commented on #17
@jaeddy @bswhite
Issues that need to be resolved:

datasets:
This is waiting for the way datasets work, and how they work with publications to be redone.
[40](https://github.com/Sage-Bionetworks/csbc-pson-dcc/issues/40)
[48](https://github.com/Sage-Bionetworks/csbc-pson-dcc/issues/48)
[85](https://github.com/Sage-Bionetworks/csbc-pson-dcc/issues/85)

grants: working

projects: working, but unlcear

[2020-05-27 17:16] andrewelamb commented on #61
@bswhite @jaeddy I've done the following

Remove these rows:
[grants](https://www.synapse.org/#!Synapse:syn21639712/tables/query/eyJzcWwiOiJTRUxFQ1QgKiBGUk9NIHN5bjIxNjM5NzEyIHdoZXJlIGlkIGluICgnc3luOTc3NDk1OScsICdzeW45Nzc1NjY1JywgICdzeW4xNzAyMzE4NScsICdzeW4xNzA4NDA3MCcpIiwgImluY2x1ZGVFbnRpdHlFdGFnIjp0cnVlLCAiaXNDb25zaXN0ZW50Ijp0cnVlLCAib2Zmc2V0IjowLCAibGltaXQiOjI1fQ==)

[projects](https://www.synap

[2020-05-27 17:36] andrewelamb commented on #61
@bswhite @jaeddy @jaybee84

Should I delete this [dataset](https://www.synapse.org/#!Synapse:syn21790736)?

And these [publications](https://www.synapse.org/#!Synapse:syn21682660/tables/query/eyJzcWwiOiJTRUxFQ1QgKiBGUk9NIHN5bjIxNjgyNjYwIHdoZXJlIGdyYW50SWQgaW4gKCdzeW45Nzc0OTU5JywgJ3N5bjk3NzU2NjUnKSIsICJpbmNsdWRlRW50aXR5RXRhZyI6dHJ1ZSwgImlzQ29uc2lzdGVudCI6dHJ1ZSwgIm9mZnNldCI6MCwgImxpbWl0IjoyNX0=)?

[2020-05-27 19:34] andrewelamb opened #81 "Merged grant table NA values"
These [grants](https://www.synapse.org/#!Synapse:syn21918972/tables/query/eyJzcWwiOiJTRUxFQ1QgZ3JhbnRJZCwgaW5zdGl0dXRpb25JZCwgaW5zdGl0dXRpb24gRlJPTSBzeW4yMTkxODk3MiB3aGVyZSBncmFudElkIGluICgnc3luMjA2NzM1NDUnLCdzeW4yMTYxOTA3MCcsJ3N5bjIxNjE5NDMyJywnc3luMjE2MTk3NTknKSIsICJpbmNsdWRlRW50aXR5RXRhZyI6dHJ1ZSwgImlzQ29uc2lzdGVudCI6dHJ1ZSwgIm9mZnNldCI6MCwgImxpbWl0IjoyNX0=) have no instituionIds, but have inst

[2020-05-27 19:41] bswhite commented on #61
@andrewelamb My earlier response was ambiguous, I am updating this comment.

Yes, remove the dataset PRJNA310350 [here](https://www.synapse.org/#!Synapse:syn21790736)
because we removed it's associated grant
syn9775665
formerly named CSBC U01 Project Boston University
then named Uncoupling obesity from breast cancer in African American women
as discussed [here](https://github.com/Sage-Bionetworks/

[2020-05-27 20:30] andrewelamb opened #82 "Tool grant numbers incorrect"
These [tools](https://www.synapse.org/#!Synapse:syn21930566/tables/query/eyJzcWwiOiJTRUxFQ1QgdG9vbElkLCBncmFudElkLCBncmFudCBGUk9NIHN5bjIxOTMwNTY2IHdoZXJlIHRvb2xJZCBpbiAoJ3N5bjIxNjQ1MTk1JywgJ3N5bjIxNjQ1MTk2JykiLCAiaW5jbHVkZUVudGl0eUV0YWciOnRydWUsICJpc0NvbnNpc3RlbnQiOnRydWUsICJvZmZzZXQiOjAsICJsaW1pdCI6MjV9) have an incorrect grant number. The grant number for this grantId should be CA215845. I chang

[2020-05-27 20:43] andrewelamb commented on #62
@bswhite These have all been added

[2020-05-27 22:45] jaeddy commented on #82
Yeah — that'd be great. This is the same change I made for the publications table.

[2020-05-27 22:47] jaeddy commented on #81
Looks like an issue with my code (somewhere), not the annotations. I need to make some updates to institution names anyway, so I'll take a look at this.

[2020-05-28 13:29] #82 closed, assigned to jaeddy, bswhite

[2020-05-28 13:37] andrewelamb commented on #63
@bswhite @jaeddy

I've added the grant ids to the above listed publications.

Is there anything to be done with these publications then:

These have no annotations at all:
syn21682016
syn21681888
syn21681787

These have NA grantIds:
syn21649080
syn21649079

Delete them? Leave them in(the publications table, not the merged portal publication table)?

[2020-05-28 14:07] andrewelamb opened #83 "Datasets missing from merged table"
These [datasets](https://www.synapse.org/#!Synapse:syn21889931/tables/query/eyJzcWwiOiJTRUxFQ1QgKiBGUk9NIHN5bjIxODg5OTMxIHdoZXJlIGlkIGluICgnc3luNzg0MzgxOScsJ3N5bjc4NDM4MjAnLCdzeW43ODQzODUxJywnc3luOTY0MDQ4NScsJ3N5bjk2NDA0OTQnLCdzeW45NjQwNDk1Jywnc3luOTY0MTk3MicsJ3N5bjk3NTgxMzEnLCdzeW45NzU4MTU5Jywnc3luOTc1ODE2MycsJ3N5bjk3NTgxNjQnLCdzeW45NzU4MTY1Jywnc3luOTc1ODI0NycsJ3N5bjk3NTgyNDgnLCdzeW45NzU4MjU0Jywn

[2020-05-28 15:19] andrewelamb commented on #61
@bswhite

I've noticed that some publications that have one of the "bad" grant numbers are also associtated with a second "non-bad" grant number:

[grant_publications](https://www.synapse.org/#!Synapse:syn21682660/tables/query/eyJzcWwiOiJTRUxFQ1QgKiBGUk9NIHN5bjIxNjgyNjYwIHdoZXJlIHB1YmxpY2F0aW9uSWQgaW4gKCdzeW4yMTY0NTYxNScsICdzeW4yMTY0ODkxNCcsICdzeW4yMTY0NTYxNCcsICdzeW4yMTY0NTYxNicsICdzeW4yMTY0ODk2N

[2020-05-28 16:11] andrewelamb commented on #61
I've deleted the "bad" publications and dataset. The publications above that had both a "good" and "bad" grantId, had the bad one removed, and left the good one. I'm going to go ahead and close this.

[2020-05-28 17:37] andrewelamb commented on #78
@bswhite @jaeddy

After fixing [the grant issue](https://github.com/Sage-Bionetworks/csbc-pson-dcc/issues/61) and deleting/fixing the publications I'm now seeing more descrepancies. These test values are correct after taking in account changes made to the merged grants table.

[code]

[2020-05-28 17:48] andrewelamb commented on #78
@jaeddy @bswhite

the grant number CA215845 popped up again:

[code]

This seems to be coming from a change made in the [merged grants](https://www.synapse.org/#!Synapse:syn21918972/tables/query/eyJzcWwiOiJTRUxFQ1QgKiBGUk9NIHN5bjIxOTE4OTcyIHdoZXJlIGdyYW50SWQgPSAnc3luOTc3NTY1MSciLCAiaW5jbHVkZUVudGl0eUV0YWciOnRydWUsICJpc0NvbnNpc3RlbnQiOnRydWUsICJvZmZzZXQiOjAsICJsaW1pdCI6MjV9)

In the [source grant t

[2020-05-28 17:51] andrewelamb commented on #78
Finnaly there are some issues with some of the datasets:

[code]
I think this is more due to how we are dealing with datasets being in flux, so I'll come back to those discrepancies later.

[2020-05-28 23:35] bswhite commented on #78
@andrewelamb , I think there are a few issues here. I'm just responding to CA182915 vs CA215845. Finally we have a resolution to why these two grants are always showing up together -- nice!

CA182915 is From Mechanism to Population: Modeling HPV-related Oropharyngeal Carcinogenesis
It should be dropped.

CA215845 is Phenotype Transitions in Small Cell Lung Cancer.
It should be kept.

This two gran

[2020-05-28 23:42] bswhite commented on #61
@andrewelamb , this caused by the issue you uncovered [here](https://github.com/Sage-Bionetworks/csbc-pson-dcc/issues/78#issuecomment-635499495) with CA182915 and CA215845 being confused.

The publications that you referred to above [here](https://www.synapse.org/#!Synapse:syn21868591/tables/query/eyJzcWwiOiJTRUxFQ1QgKiBGUk9NIHN5bjIxODY4NTkxIHdoZXJlIHB1YmxpY2F0aW9uSWQgaW4gKCdzeW4yMTY0NTYxNScsICdze

[2020-05-28 23:42] bswhite commented on #61
@andrewelamb , I meant to reopen this

[2020-05-28 23:49] bswhite commented on #83
@andrewelamb , how was this dataset table defined? Many of these are subfolders of this folder
https://www.synapse.org/#!Synapse:syn7843817
At some point in the distant past when I was using a file view for datasets, I annotated folders with is.dataset=TRUE (or FALSE), as appropriate. That may or may not be relevant here, depending on how and when this table was created. I tried to add is.dataset

[2020-05-28 23:58] bswhite commented on #63
Google'ing the publication title and finding the funding source on pubmed tells me that:

syn21649080 should be assigned to CA195469

syn21649079 should be assigned to CA210173

Can you tell me anything about these 3 publications without any annotations? How did they end up in your table? Without some information I can't track them down
syn21682016
syn21681888
syn21681787

[2020-05-29 00:00] jaeddy commented on #83
@andrewelamb / @bswhite - sorry, I might have neglected to document this issue here. The subfolders are definitely the source of the problem, and should not be included in the final merged datasets table. Ideally there would be some way to [modify the view scope](https://sagebionetworks.jira.com/browse/PLFM-6237) such that subfolders are ignored, but I don't expect any fix will be available in the

[2020-05-29 00:09] jaeddy commented on #63
@bswhite here are the PubMed records for those 3 publications:

| Entity | PubMed |
| --- | --- |
| syn21682016 | https://pubmed.ncbi.nlm.nih.gov/31917525 |
| syn21681888 | https://pubmed.ncbi.nlm.nih.gov/31485072 |
| syn21681787 | https://pubmed.ncbi.nlm.nih.gov/31161239 |

I'm guessing the annotations might have gotten "lost in translation" when trying to save the View to Synapse. We might be ab

[2020-05-29 00:29] jkcinelli opened #84 "New CSBC U01s to be added to portal"
We have 3 new U01s that we should add to the portal prior to launch. Attaching a spreadsheet with title, grant number, summary and MPIs. Please let me know what else you need.
[new CSBC U01s.xlsx](https://github.com/Sage-Bionetworks/csbc-pson-dcc/files/4698985/new.CSBC.U01s.xlsx)

PS- this is my first time posting an issue, so please let me know if I'm doing it incorrectly...

[2020-05-29 04:00] jaeddy commented on #75
@bswhite

Yep. My mistake.

I agree we should add the consortium (and also that we should avoid any automated propagation for now). We should be able to test easily enough by manually editing `consortium` in the merged tables, but I'm not sure what impact that will have on facets. The ICBP options might seem a bit out of place (and I don't know if they'll even work with Alina's viz on the home pag

[2020-05-29 06:22] jaeddy commented on #81
@andrewelamb the issue with institutions should be fixed (I created new entities for the 4 institutions that didn't have IDs, updated the merged table, and updated the association table).

For the investigators, you should just be able to use `separate_rows` to split people into multiple rows per `grantId`, then tack any new rows onto the end of the association table.

[2020-05-29 13:54] andrewelamb commented on #81
@jaeddy For some reason I was thinking investigators(persons) where entities that had a synapse ID.

The changes fixed everything!

[2020-05-29 13:54] #81 closed, assigned to jaeddy

[2020-05-29 14:05] andrewelamb commented on #63
I added grantIds for the two @bswhite  mentioned.

[2020-05-29 14:56] andrewelamb commented on #78
@bswhite it looks like it was indeed just the publications associated with the mixed up grant numbers that were the issue. Deleting them fixed all the issues except the dataset ones above. I'm keeping this open as a reminder to fix once we have datasets sorted out.

[2020-05-29 14:57] andrewelamb commented on #61
@bswhite @jaeddy

This looks to be fixed!

[2020-05-29 14:57] #61 closed, assigned to bswhite

[2020-05-29 15:10] andrewelamb commented on #83
@jaeddy @bswhite

I understand what's going now. Everythign that is flagged in indeed included in the merged table, so I'll go ahead and close.

[2020-05-29 15:10] #83 closed, assigned to jaeddy, bswhite

[2020-05-29 16:23] andrewelamb opened #85 "Dataset/Publication relationship confusion"
The relationship between datasets and publications is confusing.

One one hand both datasets and and publications belong to a grant. So to get all the dataset information for a publication one could get its grants, and then get the publications associated with the grant. This is true for doing the reverse as well. Both the merged tables do so.

This is fine so far as long as the publications colum

[2020-05-29 16:26] andrewelamb commented on #78
I think the issue is stems from [this issue](https://github.com/Sage-Bionetworks/csbc-pson-dcc/issues/85)

[2020-05-29 16:31] bswhite commented on #62
@andrewelamb , I don't believe the descriptions for the projects were added. Would you please add them in the merged projects table [here](https://www.synapse.org/#!Synapse:syn21868602/tables/) and any etl-related table?

I manually added the description for this project
Physical modeling and dynamics of tumor cell migration mechanics

[2020-05-29 16:42] andrewelamb commented on #62
@bswhite

There are descriptions for all these projects [here](https://www.synapse.org/#!Synapse:syn21868407/tables/query/eyJzcWwiOiJTRUxFQ1QgKiBGUk9NIHN5bjIxODY4NDA3IHdoZXJlIHByb2plY3RJZCBpbiAoJ3N5bjIxNjQ1MDEwJywgJ3N5bjIxNjQ1MDExJywgJ3N5bjIxNjQ1MDE2JywgJ3N5bjIxNjQ1MDE4JywgJ3N5bjIxNjQ1MDE5JywgJ3N5bjIxNjQ1MDIyJywgJ3N5bjIxNjQ1MDIzJywgJ3N5bjIxNjQ1MDI5JywgJ3N5bjIxNjQ1MDQwJywgJ3N5bjIxNjQ1MDQ1JywgJ3N5bj

[2020-05-29 17:59] jaeddy commented on #85
@andrewelamb when I was originally creating the normalized tables, I had publications pointing to datasets and datasets pointing to publications — but they were in two separate tables and weren't necessarily consistent. I'm working on a validation check to assess the bi-directional accuracy (and completeness) of all dataset <-> publication links. Once we get that sorted out, we can update the `dat

[2020-05-29 23:53] bswhite commented on #85
@jaeddy that certainly seems like the most common path. Is it far to assume the portal will not demand this path, though? Like in the rare exception when we get a contributed dataset that is not associated with a BioProject (or publication).

[2020-06-01 18:27] vpchung commented on #84
@jkcinelli I will start on adding these today!

[2020-06-02 13:30] jkcinelli opened #86 "Explore function is not working unless I sign into synapse."
Explore section is not loading- just spinning.

[2020-06-02 13:34] jkcinelli commented on #86
Nas contacted me because the portal link wasn't working. Seems to require sign in to synapse in order to explore.

[2020-06-02 14:24] vpchung commented on #84
@jkcinelli I have added the new CSBC grants; their projects are located here:

- [U01 CA243072](https://www.synapse.org/#!Synapse:syn22117059/wiki/)
- [U01 CA243075](https://www.synapse.org/#!Synapse:syn22117060/wiki/)
- [U01 CA238728](https://www.synapse.org/#!Synapse:syn22092596/wiki/603331)

I'm not sure if this is important for the presentation but all three are currently missing `theme` annot

[2020-06-02 16:52] bswhite commented on #75
I assigned 5 of the 7 above-listed grants to have ICBP consortium:
CA184898
CA184897
CA199315
CA188388
CA195469

Shannon explicitly told us the first 4 needed to be changed to ICBP.

The 2 remaining grants are not in our table (they must have been removed since we started this ticket):
CA194389
CA188383

[2020-06-02 16:52] #75 closed, assigned to nobody

[2020-06-02 18:05] andrewelamb opened #87 "New grants have instituin name mismatches"
Some of the new grants have institution info that is a bit off from the value sin the intsitution table.

The prod values are thos in the current merged grant table, and the test values are those in the institution table:

[code]

The diffs above are mostly capitalization issues

[code]
There are some typos, and one that just has a different order. I can go and fix these if that's ok.

[2020-06-02 19:16] vpchung commented on #87
Regarding the first issue with the `institutionAlias` differences -- I had gotten "GTech" and "UMichigan" from the `displayName` values of [this table](https://www.synapse.org/#!Synapse:syn21905891/tables/).  For future grants, should I continue with "Gtech" and "Umichigan" instead?

As for the typos.... sorry about that :sweat_smile: If it's easy to fix, I would greatly appreciate the help.  Than

[2020-06-02 19:19] vpchung commented on #87
Ah, disregard my first comment!  I had gotten the two tables backward -- thought `test` was from me.

[2020-06-02 20:04] #87 closed, assigned to jaeddy, bswhite, vpchung

[2020-06-02 22:16] jkcinelli commented on #84
Theme annotations are as follows:

CA243072- drug resistance/sensitivity
CA243075-drug resistance/sensitivity
CA238728-microenvironment/tumor-immune

[2020-06-03 01:45] jaeddy commented on #86
Should be fixed now (weird issue with local ACLs getting removed for portal tables has been corrected).

[2020-06-03 01:45] #86 closed, assigned to jaeddy, jkcinelli

[2020-06-03 01:46] jaeddy commented on #79
Fixed by @leem42

[2020-06-03 01:46] #79 closed, assigned to jaeddy

[2020-06-03 05:29] vpchung commented on #84
Thanks, @jkcinelli ! These grants are ready to go for tomorrow.

[2020-06-03 05:29] #84 closed, assigned to jaeddy, vpchung

[2020-06-15 20:50] bswhite opened #89 "Overview of existing annotation scripts"
The below is an attempt to describe the components we currently have for automated annotation (e.g., pubmed scraping) as a necessary precursor to better binding them together into one pipeline. I don't think the etl stuff belongs here, but I could be wrong. @vpchung and @jaeddy please edit/add things I'm missing.

Publication annotation pipeline:

1. [`pubmed_crawler.py`](https://github.com/Sage-B

[2020-06-15 21:17] vpchung commented on #89
Thanks @bswhite!

I have two additional Python scripts that I've been meaning to add:

- `get_geo_design.py` - writes a TSV file of GEO series designs
IIRC, this has been refactored into R by Brian so this _probably_ doesn't need to be added

- `add_grants.py` - creates Wiki pages for new grants, and adds their metadata into the "Portal - Grants Merged" table

[2020-06-15 21:24] vpchung commented on #89
Ah! Also, @jaybee84 has also created an R script that iterates through a Google sheet of dataset annotations and adds them to the appropriate Synapse entity, as well as creates a metadata FileView for each dataset within its given project.

My plan is to refactor this script so that it can be used with any CSV/Googlesheet given.

[2020-06-15 21:30] jaeddy commented on #89
Thanks, @bswhite for kickstarting this discussion. @vpchung, @jaybee84 - if you haven't already, can you create a PR for any additional code/scripts you've written? I think it'll be easier to organize all the different pieces when they're in the same branch.

[2020-06-15 21:41] vpchung commented on #89
Sure thing -- just going to need to add some comments first :)

Also, would you like me to start adding unit tests for the scripts?

[2020-06-15 21:43] jaeddy commented on #89
@vpchung if you want to start brainstorming/defining test cases, that'd be awesome. I'd say hold off on writing actual tests yet until we get everything consolidated (I'm expecting there will be some redundancy).

[2020-06-22 23:23] bswhite commented on #89
I've added a bit more detail describing how pubmed_crawler.py and get_disease_annotation.py are used to populate publication fields in the Google sheet [here](https://docs.google.com/spreadsheets/d/1lnK8MIZIpT1oSsVA1r2pS9kgqnsdCR66G8c4snQ1bTQ/edit?usp=sharing). This sheet includes the original source of the annotation fields (e.g., PubMed, Entrez, etc), the script that derives it, and the field's

[2020-12-18 20:41] vpchung opened #97 "Streamline adding new grants"
Currently, there is a script and template that will add new grants, but the template could be a bit more intuitive, e.g. if there is no value for `theme`, then the value will need to be `[]` (not an empty string), since `theme`'s columnType is a StringList.

It will be nice to automate the creation of new institutes as well (is it possible?)

[2021-01-28 04:29] jaeddy commented on #27
There are a few straightforward issues with some of the CSBC to address, and some more complicated:

### 1. Single element lists with an empty string (e.g., `[""]`):

(FYI @jay-hodgson - figured out what seems to be happening)

In Synapse, this renders as such in the facet selection menu:
![image](https://user-images.githubusercontent.com/5033229/106088149-3bf54980-60da-11eb-80a7-33d2bf5db9f8.png)

[2021-03-16 22:59] jaeddy commented on #5
Previous Shiny dashboard is deprecated and has been replaced by [`projectLive`](https://github.com/Sage-Bionetworks/projectLive_demo) functionality.

[2021-03-16 22:59] #5 closed, assigned to nobody

[2021-03-25 00:55] vpchung commented on #54
@jaeddy Not sure if this is what you meant, but @brynnz22 has uploaded a master list of the CV terms to a Synapse table [here](https://www.synapse.org/#!Synapse:syn25322361/tables/).  She is actively maintaining it and will add terms to it with every Rancho update.

If that's acceptable, I'll go ahead and close this issue!

[2021-03-25 01:03] vpchung commented on #27
@jaeddy @brynnz22 I have made this change in the curator app, but some cleaning of the existing `[""]` annotations in the **Portal - * Merged** will probably be needed.  I should also say that I have no idea if my fix will even work as expected...... 😅

e.g. the "assay" annotation is a `StringList` column type, so would something like this work?

[code]

[2021-03-25 01:06] vpchung commented on #1
A [CSBC/PS-ON curator app](https://shinypro.synapse.org/users/vchung/csbc-pson-manifest/) (which utilizes dccvalidator functions) have been developed, so I'm going to close this!

[2021-03-25 01:06] #1 closed, assigned to vpchung

[2021-03-25 01:15] vpchung opened #101 "Greek letters in publication title will not redirect to its "card" correctly"
I'm not sure if this is the appropriate place to address this issue, but I noticed this publication:

<img width="906" alt="Screen Shot 2021-03-24 at 5 50 58 PM" src="https://user-images.githubusercontent.com/9377970/112403850-6f181b80-8ccc-11eb-9158-a0a539e02cfd.png">

will not open correctly on the portal. Judging from the query parameter in the URL, I'm assuming this is from the alpha character

[2021-03-27 00:30] jaeddy commented on #54
That seems like a good bet — I'm not entirely sure what I meant either... 😅

The updated table looks great! Thanks, @brynnz22 and @vpchung!

[2021-03-27 00:30] #54 closed, assigned to nobody

[2021-03-27 00:36] jaeddy commented on #101
Hmm... I'll see if there's a way to fix this in the portal config (e.g., maybe we can key the link query on `pubMedId` instead of `publicationTitle`).

[2021-03-27 00:41] vpchung commented on #101
I think pubMedId would make for a cleaner URL as well!

[2021-03-29 20:57] vpchung commented on #101
@jaeddy I saw in the [JIRA ticket](https://sagebionetworks.jira.com/browse/PORTALS-1883) that you are proposing using `publicationId` as the query parameter instead of `publicationTitle`.

I agree that using `publicationId` will be better than `publicationTitle` -- plus it'll be consistent with how the dataset cards are queried, since they use `datasetId`.  The only concern I have is that I had up

[2021-03-29 21:25] jaeddy commented on #101
Oh, crap - you're right. I forgot about that. I think we can just use `pubMedId` for now then (assuming we still annotate that for everything), and maybe switch to `publicationId` later. Can you chime in on the Jira ticket to clarify?

[2021-03-30 00:49] vpchung commented on #101
@jaeddy done!

[2021-03-30 17:54] vpchung commented on #101
@jaeddy Following up on the discussion from the JIRA ticket, would it be appropriate to just replace the `publicationTitle` column with `pubMedId`?  Or do we explicitly need `publicationTitle` in the schemas for Datasets and Tools?

(I did look back at our CSBC/PS-ON data model diagram, but I can't really tell which column is acting as the foreign key between publications and datasets/tools.  I'm

[2021-04-01 21:20] #101 closed, assigned to vpchung

[2021-06-01 05:15] jaeddy opened #103 "Update column types in merged tables"
There are a number of columns for which we should try to update types in the "merged" tables that drive CCKP. In most cases, the conversion is from a single value type to a `_LIST` type (which would also involve splitting a delimited string into a JSON array) — e.g.:

<details>
<summary><code>.delim_str_to_json()</code></summary>
<pre>
<code>
.delim_str_to_json <- function(str, delimiter = ",") {

[2022-02-15 21:13] #15 closed, assigned to nobody

[2022-02-15 21:13] #17 closed, assigned to andrewelamb

[2022-02-15 21:15] jaeddy commented on #20
Check with Platform if anyone is still using these docs. @milen-sage can think about whether auto-generation of schemas might be in scope for FAIR Data.

[2022-02-15 21:20] #27 closed, assigned to nobody

[2022-02-15 21:21] #31 closed, assigned to nobody

[2022-02-15 21:22] #34 closed, assigned to jaeddy

[2022-02-15 21:22] #40 closed, assigned to jaeddy

[2022-02-15 21:38] #4 closed, assigned to jaeddy

[2022-02-17 21:39] #48 closed, assigned to andrewelamb

[2022-02-17 21:41] milen-sage commented on #49
Tentatively marked as FAIR data. But let's revisit as we are ramping up on crawling work.

[2022-02-17 21:45] #62 closed, assigned to bswhite

[2022-02-17 21:47] #71 closed, assigned to nobody

[2022-02-17 21:51] #74 closed, assigned to rrchai

[2022-02-17 21:52] #80 closed, assigned to jaeddy

[2022-02-22 04:59] vpchung commented on #23
@jaeddy

Done!  It is formatted as the publication title.

The current destination is to the publication details card.

The new tools table does not have `theme`, so I opted to include `topic` as a secondary label instead.

Additionally, now that we have more information to display about tools, we could make it so that clicking on a tools card redirects to a details page (much like grants, publica

[2022-02-22 07:38] jaeddy commented on #23
Awesome, @vpchung! Do these fixes need any additional review/validation, or do you think it's fine to close this issue?

[2022-02-22 18:54] vpchung commented on #23
I think we can close this issue now (will do so now)!  Ongoing discussion as to what information to display on the tools card is being tracked in this [JIRA ticket](https://sagebionetworks.jira.com/browse/CPO-10) :)

[2022-02-22 18:54] #23 closed, assigned to nobody

[2022-03-04 02:38] aclayton555 commented on #63
@jaeddy this has been resolved but I cannot figure out how to close this issue (I might not have the correct permission on this repo??? I suck at using github???). Anyway, could you kind please close this.
Resolution: https://sagebionetworks.jira.com/browse/CPO-82

[2022-03-04 02:48] jaeddy commented on #63
Thanks! I added you to the [CSBC/PS-ON Admin team](https://github.com/orgs/Sage-Bionetworks/teams/csbc-pson-admin/members), so you'll have admin permissions on this repo and some other related ones in the future.

[2022-03-04 02:48] #63 closed, assigned to bswhite

[2022-05-03 07:24] vpchung commented on #22
The remaining item ("Figure out how to handle grantName values with commas") can be solved with either using a different character (semicolon?) or just not using commas at all.  TBD with the data curators.

[2022-05-03 07:24] #22 closed, assigned to nobody

[2022-05-03 07:26] #21 closed, assigned to nobody

[2022-06-20 18:45] vpchung commented on #97
This will no longer be needed, as creating dummy files for unique IDs is no longer the approach we want to use.

[2022-07-05 16:57] #97 closed, assigned to vpchung

[2022-08-29 19:15] vpchung commented on #78
Closing this ticket for now, as I don't think it's related anymore.

Will re-open if necessary.

[2022-08-29 19:15] #78 closed, assigned to jaeddy

[2022-08-29 19:17] vpchung commented on #103
Closing, as we are no longer using `*Id` columns.

[2022-08-29 19:17] #103 closed, assigned to nobody

[2022-08-30 22:19] vpchung commented on #20
@mc2-center/triage-team since this is related to documentation, is this something I should update or you/Amber?

[2022-08-30 22:25] vpchung commented on #43
Closing due to legacy.  Will re-open in [mc2-center-dcc](https://github.com/mc2-center/mc2-center-dcc) if needed.

[2022-08-30 22:25] #43 closed, assigned to rrchai

[2022-08-30 22:27] aclayton555 commented on #20
It looks like some of these are still being maintained for other portals, but let's ask Milen if FAIR is inclined to have these maintained. For example, I don't see NF or HTAN schemas on here.
I feel like trying to keep these updated would be rather time consuming, and may fall out of sync with the latest version of a data model. I know schematic allows you to export any manifest directly from a d

[2022-08-30 22:27] vpchung commented on #49
Closing, as I don't think we need to create Synapse entities for these anymore.

[2022-08-30 22:27] #49 closed, assigned to rrchai

[2022-08-30 22:29] vpchung commented on #56
Closing, due to legacy. Will re-open in [mc2-center-dcc](https://github.com/mc2-center/mc2-center-dcc) if needed.

[2022-08-30 22:29] #56 closed, assigned to nobody

[2022-08-30 22:30] vpchung commented on #58
Closing; linking has been fixed.

[2022-08-30 22:30] #58 closed, assigned to nobody

[2022-08-30 22:35] vpchung commented on #72
Closing due to legacy. Will re-open in mc2-center-dcc or pubmed-crawler if needed.

[2022-08-30 22:35] #72 closed, assigned to rrchai

[2022-08-30 22:37] vpchung commented on #85
Closing, due to legacy.

[2022-08-30 22:37] #85 closed, assigned to jaeddy, rrchai

[2022-08-30 22:38] vpchung commented on #89
Closing, as pubmed crawler has been documented.

[2022-08-30 22:38] #89 closed, assigned to nobody

[2022-08-30 22:43] vpchung commented on #20
@aclayton555 thanks!  I will go ahead and move this over to our [data-models repo](https://github.com/mc2-center/data-models) then, as I think it's most relevant there.